mixin magazinevideo(data)



    .news-block
        article.magazine-content
        
            h1 Привет от «Маленьких академиков»!
            
            p  Смотри наши новые развивающие видео для маленьких почемучек. Всё самое интересненькое об окружающем мире: природе и животных, человеке и предметах. 
            p И конечно же – интереснейшие видео-обзоры о любимых игрушках!
            p Открываем Киндер сюрпризы, собираем конструкторы, проводим эксперименты и челленджи, приклеиваем забавные наклейки! 
            p С нами вырастить гения просто! Возрастной рейтинг наших видео 0+
            p <a href="https://www.youtube.com/channel/UCxa0X7NbQdUqTGrVn_23dwg/featured" target="_blank">Подпишись на наш канал</a>, смотри весёлые познавательные видео, пиши нам в комментариях и ставь лайки. Давай дружить!




            h2.conteregform_title Выберите конкурс для участия:

            .conteregform.conteregform_first-child
            
                
            
                a.news-block__anons-article.news-block__anons-article--conteregform(href="https://www.youtube.com/watch?v=EilBTJ1_FI0" target="_blank")
                    .news-block__anons-article__image-box
                        img(src="static/img/general/ded.jpg" alt="")
                    .news-block__anons-article__content
                        .news-block__anons-article_tag Маленькие Академики
                        .news-block__anons-article_title КОНКУРС ОТ ДЕДА МОРОЗА НА СТАРЫЙ НОВЫЙ ГОД! 
                        .news-block__anons-article_date Подведение итогов: 06-12-2016


                a.news-block__anons-article.news-block__anons-article--conteregform(href="https://www.youtube.com/watch?v=EilBTJ1_FI0" target="_blank")
                    .news-block__anons-article__image-box
                        img(src="static/img/general/ded.jpg" alt="")
                    .news-block__anons-article__content
                        .news-block__anons-article_tag Журнал 3/9 царство
                        .news-block__anons-article_title КОНКУРС ОТ ДЕДА МОРОЗА НА СТАРЫЙ НОВЫЙ ГОД! 
                        .news-block__anons-article_date Подведение итогов: 06-12-2016


                a.news-block__anons-article.news-block__anons-article--conteregform(href="https://www.youtube.com/watch?v=EilBTJ1_FI0" target="_blank")
                    .news-block__anons-article__image-box
                        img(src="static/img/general/ded.jpg" alt="")
                    .news-block__anons-article__content
                        .news-block__anons-article_tag Журнал 3/9 царство
                        .news-block__anons-article_title КОНКУРС ОТ ДЕДА МОРОЗА НА СТАРЫЙ НОВЫЙ ГОД! 
                        .news-block__anons-article_date Подведение итогов: 06-12-2016
                        
                        