mixin jobsarticle(data)


    .news-block

        article.news-block__anons-article.news-block__anons-article-big
            .news-block__anons-article__content
                h1.news-block__anons-article_title backend web-разработчик
                .news-block__anons-article_date Дата публикации: 06-12-2016
                
                            
            p.article-social-description Ищем backend web-разработчика в команду разработки "ЮНИЛАЙН" Digital, которая быстро растет и постоянно поднимает уровень профессионализма, а также подходит к разработке максимально серьезно и правильно, начиная от Agile-методологий, и тестирования, заканчивая разработкой веб-приложений и инструментов с красивой распределенной модульной архитектурой и SPA.

            h2 Чем предстоит заниматься
                
            ul
                li изучать и внедрять современные web-технологии;
                li разрабатывать ориентированные на высокие нагрузки решения и сервисы для магазина;
                li продумывать и проектировать архитектуру программного кода.
            
            h2 У нас накоплен серьезный опыт создания высоконагруженных систем:
                
            ul
                li создание решений на кластерах серверов Sphinx, Memcached, Percona;
                li поддержка десятков тысяч обращений в секунду.
              
            h2 Требования к кандидату:
                
            ul
                li отлично владеть PHP;
                li понимать, как устроен HTTP;
                li уверенно писать SQL и уметь оптимизировать запросы и схемы;
                li иметь хорошее знание HTML5/CSS3 и JavaScript (jQuery);
                li понимать, что такое ООП, уметь применять на практике основные паттерны;
                li нам нужен человек, который получает удовольствие от того, что результатом его работы пользуются сотни тысяч людей.

               
            h2 Мы предлагаем:
            
            ul
                li работу в удобном офисе в Смоленске;
                li задачи на очень большом проекте с продвинутыми технологиями;
                li ценный опыт работы с одним из лучших порталов рунета;
                li возможность повышать квалификацию за счет компании (курсы и конференции в Москве);
                li теплую дружескую рабочую атмосферу.
                  
            h2 Условия работы:
            
            ul
                li рабочий день с 9:00 до 18:00;
                li официальное трудоустройство;
                li заработная плата по результатам собеседования.
                
            .button-block.align-left
                a.button
                    span Отправить резюме
 
            .ssk-share-title Поделиться:
            
            .ssk-group
                a(href="" class="ssk ssk-text ssk-vk ssk-sm") vk.com
                a(href="" class="ssk ssk-text ssk-facebook ssk-sm") Facebook.com
                a(href="" class="ssk ssk-text ssk-twitter ssk-sm")  Twitter.com
                a(href="" class="ssk ssk-text ssk-google-plus ssk-sm") Google.com


        