mixin category-news(data)

    .category-news
        .category-news__active-category 
            .category-news__active-category_title Категория: <span class="active">Все новости<span>
            
            
        ul.category-news__grid
        
            li.category-news__item
                a Новости
                
            li.category-news__item
                a События
                 
            li.category-news__item
                a Конкурсы
                         
            li.category-news__item
                a Все новости
        
