.footer
    min-height 300px
    border-top solid 1px #E6EAEA
    margin-top 20px
        
        
    
        
    &__grid-sub
        display flex
        flex-wrap wrap
        padding 0 10px
        
        
    &__item
        display flex
        padding-top 45px
        max-width 33.33333%
        flex-basis 33.33333%
        min-height 250px
        max-height 300px
        flex-flow row
        
    &__subscribe
        display inherit
        max-width 60%
        flex-basis 60%
        padding-right 10px
        flex-flow column
        
        &_title
            font-size 18px
            font-family fontb
            text-align left
            line-height 22px
            
        &_description
            margin-top 20px
            font-size 16px
            line-height 20px
            
    &__magazine
        display block
        width 30%
        padding-left 10px
        align-content flex-start
        img
            width 100%
            height auto
            
            
        
        
        
            
        
        
    
        