mixin footer(data)
    footer.footer
        .content
            .footer__grid-sub
            
                .footer__item
                    .footer__subscribe
                        .footer__subscribe_title Подписка онлайн 
                        .footer__subscribe_description Подписывайтес на любимые издания у нас на сайте
                        .button-block
                            a.button(href="#") 
                                span подписаться
                                
                    .footer__magazine
                        img(src="static/img/general/jornals.png")
                    
                .footer__item
                .footer__item
                        
                
