.basketorder
	max-width: 100%;
	margin-top: 0px;
	margin-bottom: 35px
	border solid 1px #e6eaea
	padding 20px
	

	.button-block
		.button
			width 100%
			text-transform uppercase
			text-align center
			white-space nowrap
			
			span 			
				font-size 18px
				line-height 18px
				font-family fontb
				padding-top 10px

			i
				position relative
				top 4px
				font-weight: 500;
				font-size: 28px;
				margin-left 10px
                

	&__tovars
		display flex
		justify-content space-between
		padding-bottom 20px
		border-bottom solid 1px #e6eaea
		margin-bottom 20px
		
	&__title
		font-family fontb
		font-size 18px
		line-height 20px
		color coltxt
			
	&__value
		font-family fontb
		font-size 18px
		line-height 20px
		color colfirm
		
	
	
	&__tovar-cena
		display flex
		justify-content space-between
		padding 20px 0 0
		margin-bottom 20px
		
		@media screen and (max-width: 480px)
			align-items center
		

		
	&__cena
		position relative
		top -10px
		font-family fontb
		font-size 32px
		line-height 32px
		color coltxt
		white-space nowrap
		
		@media screen and (max-width: 760px)
			font-size 24px
			line-height 24px
			padding-left 10px
			top -4px

	&__message
		display block
		font-size 14px
		margin-bottom 10px

	&__personal-info-link
		display block
		font-size 14px
		color colfirm
		margin-bottom 20px			
