mixin basketorder

	.basketorder
	
		.basketorder__tovars
			.basketorder__title товаров в корзине:
			.basketorder__value 6 
				
		.basketorder__tovar-cena
			.basketorder__title общая цена:
			.basketorder__cena 2100 р
			
		.button-block
			a.button
				span Оплатить <i class="icon-handbag icons"></i>

	