.shop-addres
    display none
    padding 35px
    border solid 1px colfirm
    margin-top 60px
    
    
    &__title
        display block
        margin-bottom 20px
        font-size 18px
        color coltxt
        line-height 22px
        font-family fontblack
        text-transform uppercase
        
        
    ul,
    li
        font-family fontb !important
        list-style none !important // select2 vendors
        
        &:before
            display none !important
    
    
        
    