.shop-addres
    display none
    padding 35px
    border solid 1px colfirm
    margin-top 60px
    
    @media screen and (max-width: 1000px)
        padding 15px
    
    .button-block
       	margin-left -10px
				
				.button
					&:not(:last-child)
						margin-right 20px

					span
						padding 14px 20px
            
            @media screen and (max-width: 1000px)
                padding 8px 16px 14px
					

        
    &__check
        margin-bottom 25px !important
        
        .check-box-label
            font-family fontb
            font-size 14px
            padding-top 25px
            padding-bottom 20px
        
        
    .check-box
        margin-bottom 25px
    
    
    &__title
        display block
        margin-bottom 20px
        font-size 18px
        color coltxt
        line-height 22px
        font-family fontblack
        text-transform uppercase
        
                
    &__warning
        font-family fonttxt
        font-size 14px
        padding-left 0
        text-transform none
        
        b
            font-family fontb
            color colfirm
            
    &__itog
        margin 20px 0
        font-family fontblack
        font-size 18px
        padding-left 0
        text-transform uppercase
        
        b
            font-family fontb
            color colfirm  
            
        .active
            display inline-block
        
        
    ul,
    li
        font-family fontb !important
        list-style none !important // select2 vendors
        
        &:before
            display none !important

        
    