mixin conteregform(data)


    .news-block
        article.magazine-content
        
            h1 Зарегистрируйтесь для участия в конкурсе от издательства «ЮНИЛАЙН»
            
            p В данном разделе вы можете пройти онлайн-регистрацию для участия в одном из наших конкурсов не выходя из дома. Нужно всего лишь заполнить анкету участника и прислать квитанцию об оплате в электронном виде, фотографию или её копию.
            p Заполните форму регистрации. Следуйте условиям конкурса – и получите шанс выиграть ценный приз!



            h2.conteregform_title Выберите конкурс для участия:

            .conteregform.conteregform_first-child#contetabs
            
                
            
                a.news-block__anons-article.news-block__anons-article--conteregform
                    .news-block__anons-article__image-box
                        img(src="static/img/general/ded.jpg")
                    .news-block__anons-article__content
                        .news-block__anons-article_tag Журнал 3/9 царство
                        .news-block__anons-article_title КОНКУРС ОТ ДЕДА МОРОЗА НА СТАРЫЙ НОВЫЙ ГОД! 
                        .news-block__anons-article_date Подведение итогов: 06-12-2016


                a.news-block__anons-article.news-block__anons-article--conteregform
                    .news-block__anons-article__image-box
                        img(src="static/img/general/ded.jpg")
                    .news-block__anons-article__content
                        .news-block__anons-article_tag Журнал 3/9 царство
                        .news-block__anons-article_title КОНКУРС ОТ ДЕДА МОРОЗА НА СТАРЫЙ НОВЫЙ ГОД! 
                        .news-block__anons-article_date Подведение итогов: 06-12-2016


                .news-block__anons-article.news-block__anons-article--conteregform
                    .news-block__anons-article__image-box
                        img(src="static/img/general/ded.jpg")
                    .news-block__anons-article__content
                        .news-block__anons-article_tag Журнал 3/9 царство
                        .news-block__anons-article_title КОНКУРС ОТ ДЕДА МОРОЗА НА СТАРЫЙ НОВЫЙ ГОД! 
                        .button-block
                            a.button
                                span lol
                        
                        
            article.conteregform#contetxt
            
                
            
                    h2.conteregform_title Условия конкурса "Конкурс от деда мороза на старый новый год"
                
                    p На конкурс принимаются рисунки детей в возрасте до 15 лет (включительно), выполненные на бумаге красками, карандашами, тушью или с использованием других материалов. Максимальный размер рисунка не должен превышать формата А3 (420 мм х 297 мм). В композиции рисунка обязательно должна найти отображение географическая карта мира или её большая часть, выполненная карандашами, красками, другими материалами или с использованием компьютерной программы, на которой (вокруг которой и т.п.) были бы изображены волнующие детей проблемы мира и люди.
                
                    ul
                
                        li Каждый рисунок должен иметь следующую информацию, помещенную на обратной стороне рисунка (на отдельном листе бумаге, прикрепленном к рисунку скрепкой): фамилия и имя автора, возраст, адрес школы, название рисунка.
                    
                        li Каждый рисунок должен иметь следующую информацию, помещенную на обратной стороне рисунка (на отдельном листе бумаге, прикрепленном к рисунку скрепкой): фамилия и имя автора, возраст, адрес школы, название рисунка.
                    
                        li Каждый рисунок должен иметь следующую информацию, помещенную на обратной стороне рисунка (на отдельном листе бумаге, прикрепленном к рисунку скрепкой): фамилия и имя автора, возраст, адрес школы, название рисунка.
                    
                        li Каждый рисунок должен иметь следующую информацию, помещенную на обратной стороне рисунка (на отдельном листе бумаге, прикрепленном к рисунку скрепкой): фамилия и имя автора, возраст, адрес школы, название рисунка.
    

                    




                    form.form.conteregform
                    
                        h2 Заполните форму для регистрации в конкурсе

                        .input-block
                            label
                            span.obligatorily Имя
                            input(type="text" required)

                        .input-block
                            label
                                span.obligatorily Фамилия
                            input(type="text" required)

                        .input-block
                            label
                            span.obligatorily Отчество
                            input(type="text")

                        .input-block
                            label
                                span.obligatorily Адрес
                            input(type="text" required)

                        .input-block
                            label
                                span.obligatorily Телефон
                            input(type="text" )

                        .input-block
                            label
                                span.obligatorily Email
                            input(type="text" )




                        .input-block
                            .button-block.align-left.doc
                                .button#form-file-button

                                    span Прикрепить квитанцию об оплате <br> (jpeg, jpg, png, gif)
                                input.form_file#form-file-input(type="file" required)


                        .input-block.input-block--last
                            label
                                span.obligatorily А не робот ли вы?
                            .form__submit__capcha
                                div(class="g-recaptcha" data-sitekey="6LfEHhEUAAAAABw_ZPCye4biwgit5WwLq8zWYyqQ" data-callback="YourOnSubmitFn")


                        ul.error-block
                            li.error-block_item У вас странное имя!
                            li.error-block_item Добавить резюме надо обязательно!
                            li.error-block_item.error-block_item--ok Ваше сообщение отправлено!



                        .button-block
                            .button#form-submit-button
                                span Отправить резюме
                            input.form_file#form-submit-input(type="submit")


