.conteregform
    margin-top 55px
    padding 0px
    
    &_first-child
        margin-top 35px
        padding-left 10px
    
    &_title
        margin-bottom 20px
    
    
    
#contetxt
    display none