.departmentscontact
    display block
    margin 45px 0
    padding 0 10px
    
    &_title
        margin-bottom 45px
        font-size 24px
        padding 0
        text-transform uppercase
        
        
    &__body
        border solid 1px #e6eaea
        min-height 400px
        display flex
        flex-direction row
        
        
        &__content
            max-width 55%
            flex-basis 55%
            padding 35px
                 
        &__feedback
            max-width 45%
            flex-basis 45%
            padding 10px
            border-left solid 1px #e6eaea
            
            .form
                margin-top 0px
            
            .input-block
                flex-basis 100%
                max-width 100%
                
            .input-block--last
                margin-top 0px
                
            .form__submit__capcha
                max-height 80px
            
        
        &__general-contacts
            padding 10px 0
            border-bottom solid 1px #e6eaea
            text-align center
            
            
            &_adress
                display inline-block
                font-family fontb
                font-size 20px
                line-height 20px
                padding 0 10px
                margin-bottom 20px
                span
                    font-family fonttxt
                    margin-left 15px
                     
            &_phone
                display inline-block
                font-family fontb
                font-size 16px
                line-height 16px
                padding 0 10px
                margin-bottom 15px
                span
                    font-family fonttxt
                    margin-left 15px
                    
        &__individual-contacts
            padding 20px 0
            text-align center
            
            .departmentscontact__body__general-contacts_phone
                font-size 15px
                line-height 16px
                display block

            &_title
                text-align center
                font-size 18px
                font-family fontb
                margin-bottom 20px
                
            
            
                             
        
            
            