mixin shop_catalog_souvenir(data)

    section.shopcontainer.shopcontainer--min
    

        .shop_catalog
        
            a.shop_catalog__item.shop_catalog__item--souvenir(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/tovar.jpg")
                h2.shop_catalog__title Пазл - Кащей против хищника
                span.shop_catalog__price 1026 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons
                        
            a.shop_catalog__item.shop_catalog__item--souvenir(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/tovar5.jpg")
                h2.shop_catalog__title Пазл - Кащей против хищника
                span.shop_catalog__price 1026 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons
                        
            a.shop_catalog__item.shop_catalog__item--souvenir(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/tovar3.jpg")
                h2.shop_catalog__title Пазл - Кащей против хищника
                span.shop_catalog__price 1026 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons
                        
            a.shop_catalog__item.shop_catalog__item--souvenir(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/tovar.jpg")
                h2.shop_catalog__title Пазл - Кащей против хищника
                span.shop_catalog__price 1026 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons
                        
            a.shop_catalog__item.shop_catalog__item--souvenir(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/tovar5.jpg")
                h2.shop_catalog__title Пазл - Кащей против хищника
                span.shop_catalog__price 1026 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons
                        
            a.shop_catalog__item.shop_catalog__item--souvenir(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/tovar.jpg")
                h2.shop_catalog__title Пазл - Кащей против хищника
                span.shop_catalog__price 1026 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons
                        
            a.shop_catalog__item.shop_catalog__item--souvenir(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/tovar5.jpg")
                h2.shop_catalog__title Пазл - Кащей против хищника
                span.shop_catalog__price 1026 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons
                