.magazine-content
    margin-top 35px
    
    &_title
        margin-top 45px
    
    &__signs
        &_item
            
            font-size 22px
            text-transform uppercase
            padding 10px 0 10px 15px
            border-bottom solid 1px #e6eaea
            &:before
                display none
        