mixin magazinecontent(data)

    article.statickinfo
        .magazine-content
            h1.news-block__anons-article_title 1000 советов 
            
                                                    
            p.article-social-description Очень полезная газета – универсальная помощница для всей семьи. Мудрые советы от читателей всегда помогут в любой ситуации. Газета «1000 советов» – это ответы на любые вопросы: экспертиза во всех сферах нашей жизни, консультация юриста, советы психолога, здоровье, сад и огород, рукоделие, кулинария, истории из жизни читателей, конкурсы, призы и многое другое. Просто, толково и доступно обо всём. 
            
            h2 1000 советов это:
            
            ul.magazine-content__signs
                li.magazine-content__signs_item - Периодичность 2 раза в месяц
                li.magazine-content__signs_item - 1 550 000 тираж одного номера
                li.magazine-content__signs_item - 73% аудитории имеют семью и детей
                li.magazine-content__signs_item - 58% аудитории в возрасте 32-63 лет
                li.magazine-content__signs_item - 70% аудитории имеют седний доход
                li.magazine-content__signs_item - Низкий СРТ - 238,9 рублей
                li.magazine-content__signs_item - Возможность индивидуальных и спец. проектов
                li.magazine-content__signs_item - Объем: 36-40 страниц
                li.magazine-content__signs_item - Цветность: Полноцветная
                li.magazine-content__signs_item - Типография: Helprint YO Финляндия
                li.magazine-content__signs_item - Формат: А4
                li.magazine-content__signs_item - Подписка 900 000 экземпляров
                

            p В Россию журнал пришел в 1998 году, утвердив на нашем рынке новый стандарт глянцевой фотосъемки и модной журналистики. За пятнадцать лет для русского Vogue работали лучшие из лучших: снимали Хельмут Ньютон, Питер Линдберг, Стивен Майзел, Патрик Демаршелье, Марио Тестино, позировали Линда Евангелиста, Наоми Кэмпбелл, Клаудия Шиффер, Наталья Водянова, давали интервью Рената Литвинова, Диана Вишнева, Чулпан Хаматова.
            
            p Русский Vogue активно участвует в культурной жизни: в Пушкинском музее прошла выставка The Nude in Vogue, где лучшие портреты обнаженных моделей, снятые за всю историю Vogue, соседствовали с картинами и скульптурами, а в Мультимедиа Арт Музее в разное время прошли две выставки – Dance in Vogue, посвященная моде и балету, и Russia in Vogue, посвященная влиянию русской культуры и искусства на мир моды. В 2014-м прошел первый кинофестиваль Vogue Film Festival в кинотеатре "Пионер", ставшего вдохновением для спецвыпуска Cinema in Vogue.
            
            p С 2008 года в Москве, а с 2012-го и в Санкт-Петербурге Vogue проводит ежегодный праздник моды и шопинга – Fashion’s Night Out. В этот день журнал приглашает своих читательниц в бутики и универмаги, где их ждут подарки и сюрпризы, встречи с любимыми дизайнерами, моделями и стилистами. Под эгидой российской "Модной ночи" в 2014 году мероприятие впервые прошло в Казахстане, в городе Алматы.

            