mixin magazinecontent(data)

    article.statickinfo
        .magazine-content
            h1.news-block__anons-article_title 1000 советов
            h2.magazine-content_title Что такое "1000 советов"?
            
            ul.magazine-content__signs
                li.magazine-content__signs_item - Периодичность 2 раза в месяц
                li.magazine-content__signs_item - 1 550 000 тираж одного номера
            