include /category/category
mixin jobspost(data)
    
    .jobspost
        
    
        if data.useCategory
            +category(category.jobs)
            
            
        a.jobspost__item
            .jobspost__item_title Автор для детскиких изданий
            p.jobspost__item_description Ищем креативного продюсера для работы с коммерческими проектами (преимущественно интеграции и нативные проекты), который будет адаптировать идеи для клиента и вести проекты со стороны редакции в связке с коммерческим отделом...
            
            .button-block
                div.button
                    span Читать подробнее...

                        
        a.jobspost__item
            .jobspost__item_title Маркетолог
            p.jobspost__item_description Ищем креативного продюсера для работы с коммерческими проектами (преимущественно интеграции и нативные проекты), который будет адаптировать идеи для клиента и вести проекты со стороны редакции в связке с коммерческим отделом...
                          
            .button-block
                div.button
                    span Читать подробнее...
                                       
        a.jobspost__item
            .jobspost__item_title Креативный продюсер
            p.jobspost__item_description Ищем креативного продюсера для работы с коммерческими проектами (преимущественно интеграции и нативные проекты), который будет адаптировать идеи для клиента и вести проекты со стороны редакции в связке с коммерческим отделом...
            
            .button-block
                div.button
                    span Читать подробнее...
                        
        a.jobspost__item
            .jobspost__item_title Директор по рекламе
            p.jobspost__item_description Ищем креативного продюсера для работы с коммерческими проектами (преимущественно интеграции и нативные проекты), который будет адаптировать идеи для клиента и вести проекты со стороны редакции в связке с коммерческим отделом...
            
            .button-block
                div.button
                    span Читать подробнее...
            
                                    
        a.jobspost__item
            .jobspost__item_title Менеджер по логистике
            p.jobspost__item_description Ищем креативного продюсера для работы с коммерческими проектами (преимущественно интеграции и нативные проекты), который будет адаптировать идеи для клиента и вести проекты со стороны редакции в связке с коммерческим отделом...
            
            .button-block
                div.button
                    span Читать подробнее...
            
            
        
    