include /category/category
mixin jobspost(data)
    
    .jobspost
        
    
        if data.useCategory
            +category(category.jobs)
            
            
        a.jobspost__item
            h3.jobspost__item_title Автор для детскиких изданий

            
        a.jobspost__item
            h3.jobspost__item_title Пиар-менеджер

            
        a.jobspost__item
            h3.jobspost__item_title Web-разработчик

            
        a.jobspost__item
            h3.jobspost__item_title Художник

            
        a.jobspost__item
            h3.jobspost__item_title Менеджер по рекламе


            
        
    