include /category/category
mixin jobspost(data)
    
    .jobspost
        
    
        if data.useCategory
            +category(category.jobs)
            
        article
            h2.jobspost_title-h2 Работа в издательстве ЮНИЛАЙН
                        
            p Condé Nast – всемирно известное мультимедийное издательство, которое делает лучшие в мире глянцевые (и не только) журналы, интернет-сайты и мобильные приложения. Condé Nast – это гарантированное журнальное качество, сотрудничество с лучшими профессионалами, отличная школа дисциплины и командной работы. Это международный издательский дом, который дает возможность постоянно учиться у западных коллег, обмениваться опытом, развиваться и двигаться вперед.
            
        article
            
            h3.jobspost_title-h3 ОТКРЫТЫЕ ВАКАНСИИ:

            
            
        a.jobspost__item
            h3.jobspost__item_title Автор для детскиких изданий

            
        a.jobspost__item
            h3.jobspost__item_title Пиар-менеджер

            
        a.jobspost__item
            h3.jobspost__item_titlea(href="jobs-post.html") Web-разработчик

            
        a.jobspost__item
            h3.jobspost__item_title Художник

            
        a.jobspost__item
            h3.jobspost__item_title Менеджер по рекламе


            
        
    