.jobspost
    display flex
    flex-direction column
    flex-basis 60%
    max-width 65%
    @media screen and (min-width: 300px) and (max-width: 1023px)
        display block
        width 100%
        max-width 100%
        

            
    a:visited
        color coltxt
        h3 
            color coltxt
        
                                        
    a:hover
        color colfirm !important
         
    
    .category-news
        margin-bottom 35px
        
    &_title-h2
        font-size 22px
        text-transform uppercase
        font-family fontblack
            
    &_title-h3
        font-size 22px
        text-transform uppercase
        font-family fontblack
        margin-top 35px
        margin-bottom 10px
    
    
    &__item
        display flex
        flex-direction column
        padding 10px 10px 5px
        flex-basis 100%

        
        &_title
            font-size: 18px;
            padding-bottom 6px
            border-bottom solid 1px #e6eaea
            font-family fontb
            text-transform uppercase
            m-speed(.4s)
            &:hover
                border-bottom solid 1px colfirm
                  
            
    &__leftinfo
        padding 25px 35px 20px
        @media screen and (max-width: 600px)
            padding 25px 15px 20px    
        
        
  
        &_title
            font-size 22px
            line-height 26px
            font-family fontb
            color colfirm
               
        &_description
            font-size 16px
            line-height 18px
            margin-top 20px
            

    
            
    