mixin popup-fade()

    .popup-fade.js-full-popup.js-close-full-popup(style="display: block")
    
    
    .full-popup.js-full-popup(style="display: block")
        .full-popup__title Внимание, внимание!
        p Вы пытаетесь отправить журналы в Лапландию... Внатуре?..
        .button-block
        
            a.button
                span Вернуться к магазину?
            
            a.button
                span Неееее!
                
        a.full-popup__close.js-close-full-popup(href="#")
            span
    