mixin nav(data)
    
    nav.nav
        .content
            ul.nav__topmenu
            
                li.nav__topmenu__item
                    a(href="#") Издательство
                    
                    ul.nav__sub-menu
                    
                        li.nav__sub-menu_item
                            a История
                                            
                        li.nav__sub-menu_item
                            a Представительства
                                            
                        li.nav__sub-menu_item
                            a Вакансии
                                            
                        li.nav__sub-menu_item
                            a Партнёры
                                            
                        
                li.nav__topmenu__item
                    a(href="#") Новости
                        
                li.nav__topmenu__item
                    a(href="#") Онлайн подписка
                    
                    .nav__sub-menu
                        ul.nav__sub-subscribe
                        
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                        .button-block
                            a.button 
                                span Все издания
                        
                li.nav__topmenu__item
                    a(href="#") Сотрудничество
                        
                li.nav__topmenu__item
                    a(href="#") Конкурсы
                        
                li.nav__topmenu__item
                    a(href="#") Магазин
                                    
                li.nav__topmenu__item
                    a(href="#") Контакты
            