mixin nav(data)
    
    nav.nav
        .content
            ul.nav__topmenu
            
                li.nav__topmenu__item
                    a(href="#") Издательство
                    
                    ul.nav__sub-menu
                    
                        li.nav__sub-menu_item
                            a(href="isdatelstvo-history.html") История
                                            
                        li.nav__sub-menu_item
                            a Представительства
                                            
                        li.nav__sub-menu_item
                            a(href="jobs.html") Вакансии
            
                        
                li.nav__topmenu__item
                    a(href="news.html") Новости

                    ul.nav__sub-menu
                    
                        li.nav__sub-menu_item
                            a Все новости
                                            
                        li.nav__sub-menu_item
                            a События
                                            
                        li.nav__sub-menu_item
                            a Конкурсы     
                        li.nav__sub-menu_item
                            a Акции
                        
                li.nav__topmenu__item
                    a(href="#") Онлайн подписка
                    
                    .nav__sub-menu
                        ul.nav__sub-subscribe
                        
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                                                
                            li.nav__sub-subscribe_magazine
                                a(href="#")
                                    img(src="static/img/general/jornals.png" alt="")
                        .button-block
                            a.button 
                                span Все издания
                        
                li.nav__topmenu__item
                    a(href="#") Наши издания
                    

                    ul.nav__sub-menu
                    
                        li.nav__sub-menu_item
                            a Все издания
                                            
                        li.nav__sub-menu_item
                            a Онлайн подписка
        
                li.nav__topmenu__item
                    a(href="#") Сотрудничество
                    

                    ul.nav__sub-menu
                    
                        li.nav__sub-menu_item
                            a Авторам
                                            
                        li.nav__sub-menu_item
                            a Рекламодателям
                                            
                        li.nav__sub-menu_item
                            a Распространителям
                                            
                        li.nav__sub-menu_item
                            a Медиакиты
                        
                li.nav__topmenu__item
                    a(href="#") Конкурсы
                    
                    ul.nav__sub-menu
                    
                        li.nav__sub-menu_item
                            a Все конкурсы
                                            
                        li.nav__sub-menu_item
                            a Онлайн регистрация в конкурсах
                                            
                        li.nav__sub-menu_item
                            a Правила участия в конкурсах
  
                li.nav__topmenu__item
                    a(href="#") Магазин
                    
                    ul.nav__sub-menu
                    
                        li.nav__sub-menu_item
                            a Подписка
                                            
                        li.nav__sub-menu_item
                            a Прошлые номера
                                            
                        li.nav__sub-menu_item
                            a Сувенирная продукция
                                                                  
                        li.nav__sub-menu_item
                            a Корзина
                                                                                        
                        li.nav__sub-menu_item
                            a Оплата и доставка
                      
                li.nav__topmenu__item
                    a(href="#") Контакты
        
                    ul.nav__sub-menu
                    
                        li.nav__sub-menu_item
                            a Наши контакты
                                              
                        li.nav__sub-menu_item
                            a Адреса представительств
                                            
                        li.nav__sub-menu_item
                            a Обратная связь

            