mixin nav(data)
    
    nav.nav
        .content
            ul.nav__topmenu
            
                li.nav__topmenu__item
                    a(href="#") Издательство
                    
                    ul.nav__sub-menu
                    
                        li
                            a История
                                            
                        li
                            a Представительства
                                            
                        li
                            a Вакансии
                                            
                        li
                            a Партнёры
                                            
                        
                li.nav__topmenu__item
                    a(href="#") Новости
                        
                li.nav__topmenu__item
                    a(href="#") Онлайн подписка
                        
                li.nav__topmenu__item
                    a(href="#") Сотрудничество
                        
                li.nav__topmenu__item
                    a(href="#") Конкурсы
                        
                li.nav__topmenu__item
                    a(href="#") Магазин
                                    
                li.nav__topmenu__item
                    a(href="#") Контакты
            