mixin basket()

	.news-block.cabinet
	
		.basket
			h2.basket__title Подписки:
			
			.basket__item
				.basket__image
					img(src="static/img/general/tovar.jpg")

				.basket__content
					.basket__item-title 1000 советов дачнику
					.magazines-grid__tag.basket__item-desk 4 месяца подписки
					.shop_catalog__tag.basket__item-desk Смоленск, ул. Энгельса 24, кв. 15 
					.shop_catalog__price.basket__item-desk 320 руб
					.button-block
					
						a.button(href="#")
							span Добавить еще <i class="icon-arrow-right-circle icons"></i>
					
						a.button(href="#")
							span Удалить <i class="icon-close icons"></i>


			
			.basket__item
				.basket__image
					img(src="static/img/general/tovar.jpg")

				.basket__content
					.basket__item-title 1000 советов дачнику
					.magazines-grid__tag.basket__item-desk 2 месяца подписки
					.shop_catalog__tag.basket__item-desk Италия, Милан, ул. Вокзальная 15
					.shop_catalog__price.basket__item-desk 480 руб
					.button-block
					
						a.button(href="#")
							span Добавить еще <i class="icon-arrow-right-circle icons"></i>
					
						a.button(href="#")
							span Удалить <i class="icon-close icons"></i>

	
		.basket
			h2.basket__title Другие товары:
			
			.basket__item
				.basket__image
					img(src="static/img/general/tovar2.jpg")

				.basket__content
					.basket__item-title Кружка 1000 советов
					.magazines-grid__tag.basket__item-desk 1 шт.
					.shop_catalog__tag.basket__item-desk Смоленск, ул. Энгельса 24, кв. 15 
					.shop_catalog__price.basket__item-desk 250 руб
					.button-block
					
						a.button(href="#")
							span Добавить еще <i class="icon-arrow-right-circle icons"></i>
					
						a.button(href="#")
							span Удалить <i class="icon-close icons"></i>


			
			.basket__item
				.basket__image
					img(src="static/img/general/tovar5.jpg")

				.basket__content
					.basket__item-title Пазл "Непоседа"
					.magazines-grid__tag.basket__item-desk 2 шт
					.shop_catalog__tag.basket__item-desk Италия, Милан, ул. Вокзальная 15
					.shop_catalog__price.basket__item-desk 880 руб
					.button-block
					
						a.button(href="#")
							span Добавить еще <i class="icon-arrow-right-circle icons"></i>
					
						a.button(href="#")
							span Удалить <i class="icon-close icons"></i>





