mixin cabinetmenu(data)

    .cabinetmenu
    
    
        .cabinetmenu__item
            a(href="#")
                i.icon-user.icons
                Профиль
    
        .cabinetmenu__item
            a(href="#")
                i.icon-plus.icons
                Добавить адрес
            
        .cabinetmenu__item
            a(href="#")
                i.icon-map.icons
                Мои адреса
        
        .cabinetmenu__item
            a(href="#")
                i.icon-handbag.icons
                Корзина
        
        .cabinetmenu__item        
            a(href="#")
                i.icon-notebook.icons
                История заказов
    
        
        .cabinetmenu__item        
            a(href="#")
                i.icon-info.icons
                Помощь

            
        .cabinetmenu__item        
            a(href="#")
                i.icon-action-undo.icons
                Выход

    
    