.news-block
    display flex
    flex-direction column
    width 65%
    @media screen and (min-width: 300px) and (max-width: 1023px)
        display block
        width 100%
        
        
    &__addnews
        padding 12px 10px 10px
        text-align center
        




    &__anons-article
        display flex
        height 260px
        flex-wrap wrap
        margin 20px 0
        &:first-child
            margin-top 40px
        
        @media screen and (max-width: 1260px)
            height 193px
        @media screen and (min-width: 300px) and (max-width: 599px)
            height auto
            min-height 130px
            display block
            
        &--conteregform
            padding 20px
            border solid 1px #e6eaea
            height 240px
            m-speed(.4s)
            &:hover
                border solid 1px colfirm
                
            
            .news-block__anons-article__image-box
                flex-basis 25%
                min-height 1px
                padding 0
                
            .news-block__anons-article__content
                padding-left 10px
                
            .news-block__anons-article_title
                min-height 1px
                font-size 18px
                line-height 24px
                @media screen and (min-width: 300px) and (max-width: 1024px)
                    font-size 16px
                    line-height 22px

        &--conteregform-active
            border solid 1px colfirm
        
        
        &__image-box
            flex-basis 33.33333%
            max-width 33.33333%
            padding-left 10px
            padding-right 10px
            overflow hidden
            height inherit
            @media screen and (min-width: 300px) and (max-width: 599px)
                display none
        
            img
                width 100%
                max-width 100%
                height auto
                display block
            
        &__content
            display flex
            box-sizing border-box
            flex-basis 66.66667%
            max-width 66.66667%
            align-content center
            flex-wrap wrap
            @media screen and (min-width: 300px) and (max-width: 599px)
                flex-basis 100%
                max-width 100%
                display block
        
        &_title
            display inherit
            font-size 26px
            font-family fontb
            line-height 30px
            margin 10px 0
            color coltxt
            width 100%
            text-transform uppercase
            padding-left 10px
            padding-right 10px
            
            &--dep-no-l
                padding-left 0px
            
            
            @media screen and (max-width: 1440px)
                font-size 22px
                    
            @media screen and (max-width: 1260px)
                font-size 22px
                line-height 22px
                            
            @media screen and (min-width: 300px) and (max-width: 599px)
                font-size 22px
                line-height 28px
                display block
        
              
        &_tag
            display inherit
            font-size 12px
            line-height 12px
            font-family fontblack
            letter-spacing 2px
            margin 10px 0
            color coltxt
            text-transform uppercase
            color colfirm
            width 100%
            padding-left 10px
            padding-right 10px
            @media screen and (min-width: 300px) and (max-width: 599px)
                display block
                width 100%
                max-width 100%
    
             
              
        &_date
            display inherit
            font-size 10px
            line-height 10px
            margin 10px 0
            color coltxt
            text-transform uppercase
            color #7b7b7b
            width 100%
            padding-left 10px
            padding-right 10px
            min-height 1px
            @media screen and (min-width: 300px) and (max-width: 599px)
                display block
                width 100%
                max-width 100%
          
            
    .button-block
        margin-top 5px
        padding-left 10px
        
    
    
    &__anons-article-big 
        display block
        height auto
        max-height none
        @media screen and (min-width: 300px) and (max-width: 599px)
            display block
            width 100%
            max-width 100%
    

        
        .news-block__anons-article__image-box
            width 100%
            max-width 100%
            flex-basis 100%
            padding 0px 10px 0px
            height auto
            max-height none
            @media screen and (min-width: 300px) and (max-width: 599px)
                display block
                width 100%
        
            
        .news-block__anons-article__content
            width 100%
            max-width 100%
            flex-basis 100%
            padding 20px 0px
            @media screen and (min-width: 300px) and (max-width: 1023px)
                display block
                width 100%
                max-width 100%
    
        
    
    