mixin news-block(data)

    include /category-news/category-news

    .news-block
        +category-news(data)
        

        a.news-block__anons-article.news-block__anons-article-big
            .news-block__anons-article__content
                .news-block__anons-article_tag новости
                .news-block__anons-article_title Вступление в Ассоциацию распространителей печатной продукции
                .news-block__anons-article_date Дата публикации: 06-12-2016
            .news-block__anons-article__image-box
                img(src="static/img/general/deti.jpg")

            
    
        a.news-block__anons-article
            .news-block__anons-article__image-box
                img(src="static/img/general/news2.jpg")
            .news-block__anons-article__content
                .news-block__anons-article_tag новости
                .news-block__anons-article_title Вступление в Ассоциацию распространителей печатной продукции
                .news-block__anons-article_date Дата публикации: 06-12-2016
            
    
        a.news-block__anons-article
            .news-block__anons-article__image-box
                img(src="static/img/general/news.jpg")
            .news-block__anons-article__content
                .news-block__anons-article_tag конкурсы
                .news-block__anons-article_title Розыгрыш призов от НЕПОСЕДЫ - выиграй 1 из 77 призов!
                .news-block__anons-article_date Дата публикации: 06-12-2016
            
    
   
    
        a.news-block__anons-article.news-block__anons-article-big
            .news-block__anons-article__content
                .news-block__anons-article_tag события
                .news-block__anons-article_title Издательству «ЮНИЛАЙН» исполнилось 6 лет!
                .news-block__anons-article_date Дата публикации: 06-12-2016
            .news-block__anons-article__image-box
                img(src="static/img/general/6let.jpg")

                   
    
        a.news-block__anons-article.news-block__anons-article-big
            .news-block__anons-article__content
                .news-block__anons-article_tag новости
                .news-block__anons-article_title Вступление в Ассоциацию распространителей печатной продукции
                .news-block__anons-article_date Дата публикации: 06-12-2016
            .news-block__anons-article__image-box
                img(src="static/img/general/deti.jpg")

            

    
        a.news-block__anons-article
            .news-block__anons-article__image-box
                img(src="static/img/general/news2.jpg")
            .news-block__anons-article__content
                .news-block__anons-article_tag новости
                .news-block__anons-article_title Вступление в Ассоциацию распространителей печатной продукции
                .news-block__anons-article_date Дата публикации: 06-12-2016
            
    
        a.news-block__anons-article
            .news-block__anons-article__image-box
                img(src="static/img/general/news.jpg")
            .news-block__anons-article__content
                .news-block__anons-article_tag конкурсы
                .news-block__anons-article_title Розыгрыш призов от НЕПОСЕДЫ - выиграй 1 из 77 призов!
                .news-block__anons-article_date Дата публикации: 06-12-2016
            
    
   
    
        a.news-block__anons-article.news-block__anons-article-big
            .news-block__anons-article__content
                .news-block__anons-article_tag события
                .news-block__anons-article_title Издательству «ЮНИЛАЙН» исполнилось 6 лет!
                .news-block__anons-article_date Дата публикации: 06-12-2016
            .news-block__anons-article__image-box
                img(src="static/img/general/6let.jpg")

       