mixin search_block

    .news-block.search-block
    
        .category-news
            .category-news__active-category 
                .category-news__active-category_title Результаты поиска по запросу: <h1 class="active">1000 советов</h1>
                
            .search-block__body
            
                .search-block__quantity Количество совпадений: 2
            
                a(href="#")
                    .search-block__title Вступление в Ассоциацию распространителей печатной продукции
                    .news-block__anons-article_date Дата публикации: 06-12-2016
            
                a(href="#")
                    .search-block__title Вступление в Ассоциацию распространителей печатной продукции
                    .news-block__anons-article_date Дата публикации: 06-12-2016
            
                a(href="#")
                    .search-block__title Вступление в Ассоциацию распространителей печатной продукции
                    .news-block__anons-article_date Дата публикации: 06-12-2016
            
                a(href="#")
                    .search-block__title Вступление в Ассоциацию распространителей печатной продукции
                    .news-block__anons-article_date Дата публикации: 06-12-2016
