mixin search_block

    .news-block.search-block
    
        .category-news
            .category-news__active-category 
                .category-news__active-category_title Результаты поиска по запросу: <h1 class="active">1000 советов</h1>
                
            a.search-block__item(href="#")
                .search-block__title Вступление в Ассоциацию распространителей печатной продукции
                .news-block__anons-article_date Дата публикации: 06-12-2016
                
            a.search-block__item(href="#")
                .search-block__title Официальная группа газеты «НЕПОСЕДА» появилась в ВКонтакте
                .news-block__anons-article_date Дата публикации: 06-12-2016
                
            a.search-block__item(href="#")
                .search-block__title Стартует Всероссийская декада подписки!
                .news-block__anons-article_date Дата публикации: 06-12-2016
                
            a.search-block__item(href="#")
                .search-block__title Спецвыпуск-Лунный календарь от создателей "1000 советов дачнику"!
                .news-block__anons-article_date Дата публикации: 06-12-2016
                
            a.search-block__item(href="#")
                .search-block__title Благотворительная акция «Дерево добра»
                .news-block__anons-article_date Дата публикации: 06-12-2016
