mixin shopcontainer(data)

    section.shopcontainer 
        article.shopcontainer__tovar-box
            .shopcontainer__slider
                .tovar-slider
                
                    .tovar-slider-item
                        img(src="static/img/general/tovar.jpg")
                        
                    .tovar-slider-item
                        img(src="static/img/general/tovar2.jpg")
                        
                    .tovar-slider-item
                        img(src="static/img/general/tovar3.jpg")
                  
                .slider-nav
                
                    .slider-nav-item
                        img(src="static/img/general/tovar.jpg")
                        
                    .slider-nav-item
                        img(src="static/img/general/tovar2.jpg")
                        
                    .slider-nav-item
                        img(src="static/img/general/tovar3.jpg")
                        
                .ssk-group
                    a(href="" class="ssk ssk-text ssk-vk ssk-sm") vk.com
                    a(href="" class="ssk ssk-text ssk-facebook ssk-sm") Facebook.com
                    a(href="" class="ssk ssk-text ssk-twitter ssk-sm")  Twitter.com
                    a(href="" class="ssk ssk-text ssk-google-plus ssk-sm") Google.com
                    
                .shopcontainer__other-goods
                    h3 С этим изданием также покупают:
                            .magazines-grid
    
                                a.magazines-grid__item(href="#" alt="")
                                    img.magazines-grid__image(src="static/img/general/tovar4.jpg")
                                    span.magazines-grid__tag Для всей семьи
                                    h4.magazines-grid__title 1000 советов

    
                                a.magazines-grid__item(href="#" alt="")
                                    img.magazines-grid__image(src="static/img/general/tovar5.jpg")
                                    span.magazines-grid__tag Детское издание
                                    h4.magazines-grid__title Непоседа

    
                                a.magazines-grid__item(href="#" alt="")
                                    img.magazines-grid__image(src="static/img/general/tovar5.jpg")
                                    span.magazines-grid__tag Детское издание
                                    h4.magazines-grid__title Непоседа

    
                                a.magazines-grid__item(href="#" alt="")
                                    img.magazines-grid__image(src="static/img/general/tovar4.jpg")
                                    span.magazines-grid__tag Детское издание
                                    h4.magazines-grid__title Непоседа


        
            .shopcontainer__tovar-card
                .category-news
                    .category-news__active-category 
                        .category-news__active-category_title <h1 class="active shopcontainer__title">1000 советов</h1>
                    
                p.article-social-description Подписка на следующий месяц принимается до 9 числа 23:59 по мск. текущего месяца. Подписная кампания на первое полугодие стартует с 1 сентября, на второе полугодие с 1 апреля.
                
                h2 Выберите количество:
                
                .number-block
                    span.minus -
                    input(type="text" value="1" size="5")
                    span.plus +
                
                
                h2 Выберите период подписки:
                
                .shopcontainer__subscribe-grid#js-subscribe
                    label.shopcontainer__subscribe-item#js-month1(data-shopin="0" data-bascetin="0") Январь
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month2(data-shopin="0" data-bascetin="0") Февраль
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month3(data-shopin="1" data-bascetin="0") Март
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month4(data-shopin="1" data-bascetin="0") Апрель
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month5(data-shopin="1" data-bascetin="0") Май
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month6(data-shopin="1" data-bascetin="0") Июнь
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month7(data-shopin="1" data-bascetin="0") Июль
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month8(data-shopin="1" data-bascetin="0") Август
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month9(data-shopin="1" data-bascetin="0") Сентябрь
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month10(data-shopin="1" data-bascetin="0") Октябрь
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month11(data-shopin="1" data-bascetin="0") Ноябрь
                        input(type="checkbox" value="0")
                    label.shopcontainer__subscribe-item#js-month12(data-shopin="1" data-bascetin="0") Декабрь
                        input(type="checkbox" value="0")
                    
                .shopcontainer__card-in
                    .category-news
                        .category-news__active-category_title Итоговая стоимость подписки: <div class="active"> <span id="itog-price-element">0.00</span><i class="ruble-img-big"></i></div>
                            
                    .button-block
                        a.button#shop-addres-open
                            span Оформить подписку
                                i.icon-arrow-right-circle.icons
                                
                    .form.shop-addres#shop-addres(style="display: block")
                        .shop-addres__title Выберите адрес доставки:
                        
                         p.shop-addres__warning <b>Внимание!</b> Цена подписки формируется согласно региону доставки, при выборе адреса/ов другого региона, произойдет автоматический перерасчет итоговой стоимости подписки
       
                                                    
                        .input-block.input-block--big
                            select(class="js-shop-addres-select js-example-basic-single" multiple="multiple")
                                option(value="AL") Смоленск
                                option(value="WY") Саратов
                                option(value="WY") Набережные челны
                             
                        .shop-addres__title Или введите новый адрес:
       
                        .input-block.input-block--big
                            input(placeholder="Город / населенный пункт")
              
                        .input-block.input-block--big
                            input(placeholder="Почтовый индекс")
       
                        .input-block.input-block--big
                            input(placeholder="Улица / дом / квартира")
                            
                        .shop-addres__itog Итоговая стоимость подписки: <div class="active"> <span>0.00</span><i class="ruble-img-big"></i></div>
                            
                        .button-block
                            button.button
                                span Отправить в корзину 
                                    i.icon-handbag.icons
                                    
                                    
            

                            
                .shopcontainer__annotation
                
                    h2 Об этом издании:
                
                    ul.magazine-content__signs
                        li.magazine-content__signs_item <b>Вид:</b> газета
                        li.magazine-content__signs_item <b>Категория:</b> 16+
                        li.magazine-content__signs_item <b>Формат:</b> А4
                        li.magazine-content__signs_item <b>Периодичность:</b> 2 раза в месяц
                        li.magazine-content__signs_item <b>Количество страниц:</b> 36-40
                        li.magazine-content__signs_item <b>Вес,г:</b> 60
                        li.magazine-content__signs_item <b>Цена:</b> <span id="price">57.80</span> <i class="ruble-img"></i>
                
                    h3 Аннотация:
                    p «Маленькие академики» —  это детский развивающий журнал для подготовки к школе. Ребенок дошкольного возраста должен уметь решать простые логические задачки, головоломки и ребусы, группировать предметы по признакам, восстанавливать последовательность событий, читать простые предложения и понимать их, различать цвета, фигуры, стороны света и явления природы. 
                    p Журнал «Маленькие академики» поможет привить необходимые навыки для успешного развития ребенка. Задания по арифметике, чтению и письму, на логику и мышление, художественное творчество – все это ждет ребенка на страницах нашего издания. Журнал «Маленькие академики» разработан лучшими преподавателями школ раннего развития малышей. Уверены, с помощью нашего развивающего журнала родителям будет легче понять, что нравится ребенку и какие его таланты наиболее перспективны. Возможно, вы сумеете точно выбрать дополнительное образование. или подходя
            
            
