.shopcontainer
    
    min-height 100px
				display block
				max-width 100%
				width 100%
    padding-bottom 40px
    
    
    &:first-child
        padding 40px 0
    
				
				&--min
					width 65%
    
    
    &__tovar-box
        display block
        
        @media screen and (min-width: 1000px)
            display flex
        
        
    &__slider
        width 40%
        
        @media screen and (max-width: 1000px)
            width 100%
       
        
        .tovar-slider
            width 100%
            padding 0 5px
												
        .tovar-slider-item
            outline none
            img
                opacity 1
            
        .slider-nav
            position relative
            width 100%
            overflow hidden
            
        .slider-nav-item
            margin 10px 5px
            outline none
            cursor pointer
            img
                width 100%
                height auto
                opacity 1
                    
        .ssk-group
            padding-left 5px

        .ssk,
        .ssk-text,
        .ssk-vk,
        .ssk-sm
            font-size 15px !important
            
    .magazines-grid
        position relative
        left -10px

    .magazines-grid__item
        flex-basis 50%

    .magazines-grid__title
        padding-left 0

                    

    &__annotation
        margin-top 60px
        
        p
            font-size 16px
            line-height 22px
            padding-bottom 10px 

        
        


    &__other-goods
        margin-top 60px
        
        @media screen and (max-width: 1000px)
            display none
        

           
               
    &__tovar-card
        width 60%
        padding-left 40px
        
        @media screen and (max-width: 1000px)
            margin-top 45px
            width 100%
            padding-left 0
            
        
        
        

        .button
            span
                font-family fontb
                padding 12px 20px 18px
                font-size 16px
                
                @media screen and (max-width: 1000px)
                    padding 8px 16px 14px
                    font-size 14px
                i
                    position relative
                    top 2px
                    margin-left 10px
                    font-size 18px
                    @media screen and (max-width: 1000px)
                        font-size 14px
                        margin-left 6px
                    
                        
                    

        
        h2
            font-family fontblack
            font-size 20px
            text-transform uppercase
            

            
        
        .category-news__active-category
            margin-top 0
            justify-content flex-start
            padding 0 10px
        .category-news__active-category_title
            text-align left
        .magazine-content__signs_item
            font-size 14px 
        .article-social-description
            font-size 14px
            line-height 18px
            
    &__subscribe-grid
        display flex
        flex-wrap wrap
        padding 0 10px
        margin-bottom 40px
        
    &__subscribe-item
        m-speed(.4s)
        font-size 14px
        text-transform uppercase
        margin-bottom 15px
        margin-right 15px
        background #72d546
        color #fff
        font-family fontb
        padding 10px 15px
        cursor pointer
        
        input
            visibility hidden
            height 0px
            width 0px
        
        &[data-shopin='0']
            background #9f9f9f
            &:hover
                background #9f9f9f
                
            input
                display none
                
        &[data-bascetin='1']
            background colfirm
            &:hover
                background colfirm
                
        
        &:hover
            background colfirm + 20%
            
    &__card-in
        padding 0 10px
        .category-news__active-category_title
            font-size 24px 
            
            @media screen and (max-width: 1000px)
                font-size 18px 

        
        h3
            font-size 18px
            text-transform uppercase
            font-family fontblack
            color colfirm
            flex-basis 100%
            margin-bottom 34px
            

        
    
            
        
        
            

        
        
        