mixin populararticleblock(data)
    .popular-article-block
        .popular-article-block__title #{data.title}
        ol.popular-article-block__body
        
            li.popular-article-block__body__anons
                a(href="#") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news2.jpg" alt="Вступление в Ассоциацию распространителей печатной продукции")
                        
                
            li.popular-article-block__body__anons
                a(href="#") 
                    h6.popular-article-block__body__anons_titile-anons Официальная группа газеты «НЕПОСЕДА» появилась в ВКонтакте
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt="Вступление в Ассоциацию распространителей печатной продукции")
                        
                
            li.popular-article-block__body__anons
                a(href="#") 
                    h6.popular-article-block__body__anons_titile-anons Стартует Всероссийская декада подписки!
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt="Вступление в Ассоциацию распространителей печатной продукции")
                        
                
            li.popular-article-block__body__anons
                a(href="#") 
                    h6.popular-article-block__body__anons_titile-anons Спецвыпуск-Лунный календарь от создателей "1000 советов дачнику"!
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt="Вступление в Ассоциацию распространителей печатной продукции")
                        
                
            li.popular-article-block__body__anons
                a(href="#") 
                    h6.popular-article-block__body__anons_titile-anons Благотворительная акция «Дерево добра»
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt="Вступление в Ассоциацию распространителей печатной продукции")
                                   
    