include ../departmentscontact/departmentscontact
mixin departmentsarticle(data)

    article.statickinfo
        .departmentsarticle
            h1.news-block__anons-article_title ЮНИЛАЙН Тарту
            p.article-social-description Издательский дом был основан предпринимателем Конде Настом в 1909 году в США. Первым его приобретением стал журнал Vogue – тогда это было издание о новостях моды и высшего света, изящно перемежаемых виршами и картинками. Светский лоск Конде Наста, унаследованный от матери-француженки, позволил ему лучше узнать целевую аудиторию своего нового журнала и ее специфические требования, что и обеспечило оглушительный успех Vogue в Америке.
            
            p
                img(src="static/img/general/office.jpeg")
                
        
            p Правой рукой Сэмюэля многие годы был выходец из России, человек европейской культуры, влиятельнейший в нью-йоркских артистических кругах Алекс Либерман. В Condé Nast он отвечал за подбор талантливой молодежи и следил за тем, чтобы редакционная работа соответствовала самым высоким стандартам. Либерману принадлежат слова: «Глянцевый журнал – это не только бизнес, но и просвещение общественных вкусов». История того, как Ньюхаус и Либерман сделали из Condé Nast культовый издательский дом, стала сюжетом нескольких увлекательных книг. Самая известная из них – вышедшая в 1998 году Сitizen Newhouse Кэрол Фельзенталь.
        

            p Condé Nast одним из первых отреагировал на начало цифровой эры в журналистике и глянце, и уже в 1995 году запустил свои первые сайты – www.vogue.co.uk в Великобритании и www.epicurious.com в США. Интернет-подразделение Condé Nast создает удобные и полезные сайты, посвященные всем областям современной жизни: моде, путешествиям, еде, красоте и дизайну. Сегодня Condé Nast, подразделение Advance Publications, помимо США работает еще в 29 странах мира и издает 143 журнала и более 130 сайтов, среди которых Vogue, Glamour, GQ, Vanity Fair, Allure, Wired и другие.
            
        +departmentscontact()
            