doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/nav/nav
    include ../components/all-container/all-container
    include ../components/footer/footer
    include ../components/mobile-menu/mobile-menu    
    
    include ../components/newsblock/newsblock
    include ../components/aside-sub-container/aside-sub-container
    include ../components/statickinfo/statickinfo

    
    
    
    //include ../components/footer/footer 

    
    

    head
        +head(head.news)
    body.page
        |%=symbols=%

        +header()
        .page__wrapper
            +nav()
            .paginator
                .content
                    
                    .paginator__item
                        a(href="#") Главная
                                            
                    .paginator__item
                        span /
                                                                    
                    .paginator__item
                        a(href="#") Издательство
                        
            .all-container
                .content
                    +statickinfo(statickinfo.categoryTrue)

                    .aside-sub-container
                    
                        .statickinfo__photo
                            img(src="static/img/general/ava1.jpg") 
                            .statickinfo_title Веремьев Юрий Николаевич
                                      
                        .statickinfo__photo
                            img(src="static/img/general/ava6.jpg") 
                            .statickinfo_title Юрий Васильевич Чепиков
                    
                        .statickinfo__photo
                            img(src="static/img/general/ava2.jpg") 
                            .statickinfo_title Лауреаты конкурса "Лидер продаж на рынке печатных СМИ 2013"

            +footer()
        +mobile-menu()
            
            //+header()
            

            //- Include your components here
            //- +example()

            //+footer()
        link(rel="stylesheet" href="static/css/separate-css/social-share-kit.css")      
        script(src='%=static=%js/main%=hash=%%=min=%.js')
        script(src='%=static=%js/separate-js/index%=hash=%%=min=%.js')
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();
        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/separate-js/jquery.smoothscroll%=hash=%%=min=%.js'  defer)
        

        