doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/nav/nav
    include ../components/all-container/all-container
    include ../components/footer/footer
    include ../components/mobile-menu/mobile-menu    
    
    include ../components/newsblock/newsblock
    include ../components/aside-sub-container/aside-sub-container
    include ../components/jobspost/jobspost

    
    
    
    //include ../components/footer/footer 

    
    

    head
        +head(head.news)
    body.page
        |%=symbols=%

        +header()
        .page__wrapper
            +nav()
            .paginator
                .content
                    
                    .paginator__item
                        a(href="#") Главная
                                            
                    .paginator__item
                        span /
                                                                    
                    .paginator__item
                        a(href="#") Издательство
                                                                
                    .paginator__item
                        span /
                                                                    
                    .paginator__item
                        a(href="#") Вакансии
                        
            .all-container
                .content
                    +jobspost(jobspost.categoryTrue)
                    
                    

                    .aside-sub-container

                                    
                        .banner
                            .banner_title 1000 советов, успей подписаться на любимое издание!
                            img(src="static/img/general/jornal.png")
                            .button-block
                                a.button
                                    span подписаться
                            


                        .jobspost__leftinfo
                            .jobspost__leftinfo_title Ищете вакансию или хотите к нам на стажировку?
                            .jobspost__leftinfo_description Пришлите нам свое резюме, мы с вами свяжемся при появлении подходящих вакансий
                            .button-block
                                a.button 
                                    span Отправить резюме


            +footer()
        +mobile-menu()
            
            //+header()
            

            //- Include your components here
            //- +example()

            //+footer()
            
        script(src='%=static=%js/main%=hash=%%=min=%.js')
        script(src='%=static=%js/separate-js/index%=hash=%%=min=%.js')
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();
        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/separate-js/jquery.smoothscroll%=hash=%%=min=%.js'  defer)
        

        