/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}



    .slider {
        width: 50%;
    }

    .slick-slide {
      margin: 0px;
      background #fff
    }

    .slick-slide img {
      width: 100%;
      opacity .8 !important
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
    
    height: 100%;
    
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}









.center-slider
    min-height 100px
    overflow hidden
    @media screen and (min-width: 300px)  and (max-width: 599px)
        display none
    
    .sl
        outline none
        background #fff
        position relative
        text-align center;
        position relative
        &:after
            content ''
            position absolute
            display block
            width 100%
            height 100%
            top 0px
            left 0px
            background url(../img/general/fake_brick.png)
            opacity .3
        
        
        
        img
            opacity .35
        
                
    .slick-center
        img
            opacity 1
            
            
    .slick-arrow
        width 60px
        height 110px
        top 50%
        background colfirm
        opacity .7
        m-speed(.4)
        &:hover
            opacity 1
        
        
    .slick-next
        position absolute
        margin-top -55px
        right  0
        overflow hidden
        z-index 9999
            
        span 
            position absolute
            width 14px
            height 2px
            pov(45deg)
            top 49px
            left 26px
            background #fff
                
        span::before 
            content ''
            position absolute
            width 100%
            height 100%
            top 7px
            left 7px
            pov(-90deg)
            background #fff
            
           
    .slick-prev
        position absolute
        width 60px
        height 110px
        top 50%
        margin-top -55px
        left  0
        overflow hidden
        z-index 9999
        
        .phbg
            abs(block,100%,100%,0px,0px)
            background #000
            opacity .65
            m-speed(0.3s)

            
        span 
            position absolute
            width 14px
            height 2px
            pov(225deg)
            top 60px
            left 22px
            background #fff
                
        span::before 
            content ''
            position absolute
            width 100%
            height 100%
            top 7px
            left 7px
            pov(-90deg)
            background #fff
            
             
    .slick-next:hover
        .phbg 
            opacity 1
            background colfirm     
            
                       
    .slick-prev:hover
        .phbg 
            opacity 1
            background colfirm   
            
            
.center-slider__info
    position absolute
    bottom 0px
    left 0px
    z-index 9999999
    padding 45px 60px
    display none
               
.center-slider__info_title
    text-align left
    color #fff
    font-family fontblack
    font-size 28px
    m-speed(.8s)
    z-index 9999999
            
            
.slick-active
    .center-slider__info
        display block