mixin center-slider(data)

    section.center-slider#center
        .center
        
            a.sl
                img(src="static/img/general/slide3.jpg")
                .center-slider__info 
                    h6.center-slider__info_title Благотворительная акция «Дерево добра»

            a.sl
                img(src="static/img/general/slide2.jpg")
                .center-slider__info 
                    h6.center-slider__info_title Благотворительная акция «Дерево добра»

            a.sl
                img(src="static/img/general/slide1.jpg")
                .center-slider__info 
                    h6.center-slider__info_title Благотворительная акция «Дерево добра»
