mixin shophistory(data)


    .news-block.cabinet
        h2.news-block__anons-article_title История заказов
        
        .cabinet__history
        
            a.cabinet__history-grid(href="#")
                .cabinet__history-item от 15/11/2008:
                .cabinet__history-item 2 подписки
                .cabinet__history-item 4 товара
                .cabinet__history-item <b>Адрес:</b> <span>Смоленск, Энгельса, д. 2, 24</span>
        
        
            a.cabinet__history-grid(href="#")
                .cabinet__history-item от 15/11/2008:
                .cabinet__history-item 2 подписки
                .cabinet__history-item 4 товара
                .cabinet__history-item <b>Адрес:</b> <span>Смоленск, Энгельса, д. 2, 24</span>
        
        
            a.cabinet__history-grid(href="#")
                .cabinet__history-item от 15/11/2008:
                .cabinet__history-item 2 подписки
                .cabinet__history-item 4 товара
                .cabinet__history-item <b>Адрес:</b> <span>Смоленск, Энгельса, д. 2, 24</span>
        
        
            a.cabinet__history-grid(href="#")
                .cabinet__history-item от 15/11/2008:
                .cabinet__history-item 2 подписки
                .cabinet__history-item 4 товара
                .cabinet__history-item <b>Адрес:</b> <span>Смоленск, Энгельса, д. 2, 24</span>
        
        
            a.cabinet__history-grid(href="#")
                .cabinet__history-item от 15/11/2008:
                .cabinet__history-item 2 подписки
                .cabinet__history-item 4 товара
                .cabinet__history-item <b>Адрес:</b> <span>Смоленск, Энгельса, д. 2, 24</span>
        


                
                