mixin magazinecontacts(data)


    .banner_title.align-left.magazinemenu__item_link Контакты

    .magazinecontacts
    
        .magazinecontacts__item
            .magazinecontacts__item_title Выпускающий редактор
            .magazinecontacts__item_name Гуренкова Марина Сергеевна
            a.magazinecontacts__item_link(href="84812358777") 8 (4812) 358- 777, доб. 120
            a.magazinecontacts__item_link(href="mailto:1000sovetov@yuniline.ru") 1000sovetov@yuniline.ru
    
        .magazinecontacts__item
            .magazinecontacts__item_title Художественный редактор
            .magazinecontacts__item_name Пожилов Артем Николаевич
            .magazinecontacts__item_link(href="84812358777") 8 (4812) 358-777
            a.magazinecontacts__item_link(href="mailto:1000sovetov@yuniline.ru") 1000sovetov@yuniline.ru  
            
        .magazinecontacts__item
            .magazinecontacts__item_title Директор по рекламе
            .magazinecontacts__item_name Руслан Гамзатов
            a.magazinecontacts__item_link(href="mailto:reklama@yuniline.ru") reklama@yuniline.ru  
            
        .magazinecontacts__item
            .magazinecontacts__item_title Автор проекта
            .magazinecontacts__item_name Чепиков Юрий Васильевич
            a.magazinecontacts__item_link(href="mailto:total@yuniline.ru") total@yuniline.ru            
            
        .magazinecontacts__item
            a.magazinecontacts__soclink <i class="magazinecontacts__soclink_icon vkontakte-ico"></i> Страница в vk.com            
            a.magazinecontacts__soclink <i class="magazinecontacts__soclink_icon odnoklassniki-ico"></i> Страница ok.ru 