.magazinecontacts
    display flex
    flex-direction column
    flex-basis 100%
    max-width 100%
    margin 0px 0px 20px
    min-height 350px
    m-speed(.1s)
    padding-bottom 30px

    
    
    
    &__item
        padding 10px 0
        m-speed(.4s)
        margin-bottom 35px
        &:last-child
            border-bottom solid 3px coltxt 
            padding-bottom 45px
            
            
        &_title
            color colfirm
            font-size 12px
            font-family fontb
            line-height 20px
            text-transform uppercase
                        
        &_name
            color coltxt
            font-size 18px
            font-family fontb
            line-height 22px
            text-transform uppercase
            margin 10px 0
                    
        &_link
            color #3e3e3e
            font-size 15px
            line-height 25px
            m-speed(.4s)
            cursor pointer
            display block
            &:hover
                color colfirm
                
    &__soclink
        display block
        color #3e3e3e
        font-size 14px
        line-height 25px
        font-family fontb
        text-transform uppercase
        m-speed(.4s)
        cursor pointer
        display block
        &:hover
            color colfirm
                
        &_icon     
            display inline-block
            margin-right 8px
            position relative
            top 7px

                            

            
        