include /category/category
mixin reklamodatelu(data)


    .statickinfo.reklamodatelu
    
    
        if data.useCategory
            +category(category.reklamodatelu)
         
    
    
        article.magazine-content
                                                      
            p.article-social-description Издательству «ЮНИЛАЙН» 15 лет. Все эти годы мы собирали свою аудиторию по всей стране. Наша работа была направлена на доступность изданий вне зависимости от места проживания читателя: будь это центр Москвы или труднодоступный уральский городок. Мы добились качественных результатов: самая большая база подписчиков среди периодических изданий (1 200 000 человек) – результат слаженной и долгой работы издательства. Общий тираж изданий на сегодняшний день составляет 5 000 000 экземпляров, что также является максимальным показателем среди конкурентов. 

            
            h2 Тематика / тиражи:
            
            ul.magazine-content__signs
                li.magazine-content__signs_item <b>Для всей семьи - </b> 3100 экземпляров в месяц
                li.magazine-content__signs_item <b>Дачная тематика - </b> 700 000 экземпляров в месяц
                li.magazine-content__signs_item <b>Кулинарная тематика - </b> 400 000 Экземпляров в месяц
                li.magazine-content__signs_item <b>Родители / дети - </b> 1600000 экземпляров в месяц
                
                
            ul
                li Наши издания являются лидерами тиражей и подписки в сегменте переодической прессы с 2011 года, что подтверждается сертификатами АРПП (Асоции распространителей печатной продукции <a href="#">см. медиакиты</a>) 
                
                li Ряд наших изданий признаны министерством коммуникаций и связи РФ, как социально-значимые
                
                li Ежемесячно издания продаются <b>более чем в 5000 торговых точках федеральных сетей</b> таких как Магнит, Лента, Ашан, Пятерочка, Окей и т. д. а так же более чем в 30 000 розничных киосках прессы и отделениях почты РФ
                
                li Суммарная база подписчиков <b>более 1 200 000 человек</b>
                
                li Низкая стоимость изданий (в среднем по РФ - 35 рублей за номер), позволяет поддерживатьдоступность изданий
                
                li Ограничение рекламного пространствана протяжении многих лет (не более 10% от общего количества полос) помогло сохранить народный формат издания и повысить откликаемость аудитории  к размещенной  к размещенной рекламной информации 
                
                
                h2 Контент маркетинг

                
            ul
            
                li Концепция рекламных услуг полного цикла в издательстве ЮНИЛАЙН состоит  в комплексном исследовании рынка, стратегическом планировании и креативности
                
                li Компетенции  издательства позволяют создавать текстовый и графический контент как для офф-лайна  так и для он-лайна
                          
                li Специалисты нативной рекламы помогут в продвижении релевантного контента, созданного для развития вашего бизнеса.
                      