// Common styles of the project

html, body
    height 100%
    margin 0
    padding 0
    background colbg


* {margin:0px; padding:0px; box-sizing: border-box}   
    
    
body
    font-size BASE_SIZE
    color FONT_COLOR
    line-height LINE_HEIGHT


@keyframes fadeBody {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
    
    
    
    
    
.page
    opacity 0
    m-speed(.8s)

    
.fadein
    animation: fadeBody 2s linear 1 forwards;

section,
header,
nav
    clearfix()
    
a
    cursor pointer
    font-size inherit
    text-decoration none
    
a:visited
    color inherit
    
.ssk-group
    a:visited
        color #fff
    
ul
    list-style-type none
    margin 0
    padding 0
    

.all-container
    background colbg
    min-height 900px
    
.content
    position relative
    margin 0 auto
    display block
    max-width WRAPPER_WIDTH
    min-width 300px
    height inherit
    
    @media screen and (max-width: 1440px) 
        width 100%
        padding 0 20px

    
    @media screen and (min-width: 300px)  and (max-width: 599px) 
        width 100%
        padding 0 10px


.page__wrapper
    top 90px
    position relative
    background colbg
    @media screen and (min-width: 300px)  and (max-width: 599px) 
        top 50px

.page__buffer
    height 50px
    
.paginator
    display block
    padding-top 25px
    
.paginator__item
    display inline-block
    margin-right 5px
    &:first-child
        margin-left 10px
    &:last-child
        a
            color colfirm

      
    
    a,
    span
        color coltxt
        font-family fontb
        font-size 16px
        text-transform uppercase
        m-speed(.2s)
        @media screen and (max-width: 1440px) 
            font-size 14px
    a:hover
            color colfirm
            
      
    
            


    
h1,
h2,
h3,
h4
    font-weight 400
    
    
    
    
h2,
h3
    display block
    font-size 46px
    font-weight 400
    line-height 46px
    @media screen and (min-width: 300px) and (max-width: 599px)
        font-size 28px
        line-height 28px
    
    
h4
    font-size 28px
    line-height 34px
    font-family fonttxt2
    @media screen and (min-width: 300px) and (max-width: 599px)
        font-size 22px
        line-height 24px
    
 
article   
    
    
    h2,
    h3,
    h4,
    h5
        display: inherit
        font-family: fontb
        margin: 10px 0
        color: #3e3e3e
        width: 100%
        text-transform: uppercas 
        margin-top 20px
        margin-bottom 5px
        padding 0 10px
        
    h2
        font-size 18px
        line-height 18px
            
    h3
        font-size 16px
        line-height 16px
                  
    h4
        font-size 16px
        line-height 16px
        text-transform none
                        
    h5
        font-size 15px
        line-height 16px
        text-transform none
        font-family fonttxt
        
    p,
    ul
        margin 0px
        padding 15px 10px
        color coltxt
        font-size BASE_SIZE
        font-family fonttxt
        
        img
            width 100%
            height auto
        
        
    b
        font-family fontb
        font-style normal
    
    .article-social-description
        font-size BASE_SIZE + 1
        font-family fontb
        padding-bottom 25px
        
        @media screen and (min-width: 300px) and (max-width: 588px)
            font-size 15px
        
    .ssk-share-title
        display block
        padding 30px 10px 10px
        font-size 22px
        font-family fontb
        
    .ssk-group
        padding 10px
        
        
        
    
    li
        display block
        padding 5px 10px
        padding-left 15px
        position relative
        &:before
            content '';
            position absolute
            display block
            top 15px
            left 0px
            width 5px
            height 5px
            border-radius 50%
            background coltxt
    
    
form
    display flex
    flex-wrap wrap
    margin-top 35px
    padding 10px
    justify-content space-between
    
    
    .button-block
        margin-top 0px
    
    
    .input-block
        display flex
        max-width 47%
        flex-basis 47%
        flex-wrap wrap
        flex-direction column
        margin-bottom 20px
    
                    
        .doc
            padding 0px
            position relative
            top 42px
            .button
                position relative
                
    .input-block--last
        margin-top 30px
            
            


        
    input,
    label
        display inherit
        padding 10px 20px
        
        
    input,
    textarea
        border solid 1px #E6EAEA
        font-size 17px
        flex 0 0 auto
        width 100%
        outline none
        resize none
        padding 10px 20px
        
    textarea
        height 150px
        
        
    label
        padding-bottom 15px
        font-size 15px
        padding-left 1px
        position relative
        display inline-flex
        flex 0 0 auto
        width auto
        
        
    .obligatorily
        display inline-block
        position relative
        
        &:before
            content '*';
            position absolute
            display block
            top -13px
            right -16px
            color colfirm
            font-size 28px
            
    .form_file
        width 0px
        height 0px
        position absolute
        top 0px
        left 0px
        visibility hidden
        
    .form__submit
        display flex
        max-width 100%
        flex-basis 100%
        flex-direction row
        flex-wrap wrap
        
        label
            flex-basis 100%
            
        input
            width 100px
            margin-right 15px
            letter-spacing 7px
        
        &__capcha
            display flex
            flex-basis  170px
            flex-wrap nowrap
            flex-direction row
            margin-right 15px
            
            &_item
                display inline-block
                width 25%
                height auto
                
                img
                    width 100%
                    height auto
                    display block
                    position relative

            
      
        
    
    