// Common styles of the project

html, body
    height 100%
    margin 0
    padding 0

* {margin:0px; padding:0px; box-sizing: border-box}   
    
    
body
    font-size BASE_SIZE
    color FONT_COLOR
    line-height LINE_HEIGHT


.page
    // Стили для body

section,
header,
nav
    clearfix()
    
a
    cursor pointer
    font-size inherit
    text-decoration none
    
a:visited
    color inherit
    
.ssk-group
    a:visited
        color #fff
    
ul
    list-style-type none
    margin 0
    padding 0
    

.all-container
    background colbg
    min-height 1200px
    
.content
    position relative
    margin 0 auto
    display block
    max-width WRAPPER_WIDTH
    min-width 300px
    height inherit
    
    @media screen and (min-width: 600px) and (max-width: 1199px)
        width 100%
        padding 0 20px
    
    @media screen and (min-width: 300px) and (max-width: 1199px)
        width 100%
        padding 0 20px


.page__wrapper
    top 90px
    position relative
    background colbg

.page__buffer
    height 50px
    
.paginator
    display block
    margin-top 25px
    
.paginator__item
    display inline-block
    margin-right 5px
    &:first-child
        margin-left 10px
    &:last-child
        a
            color colfirm
    
    a,
    span
        color coltxt
        font-family fontb
        font-size 16px
        text-transform uppercase
        m-speed(.2s)
    a:hover
            color colfirm
            
    
            


    
h1,
h2,
h3,
h4
    font-weight 400
    
    
    
    
h2,
h3
    display block
    font-size 46px
    font-weight 400
    line-height 46px
    @media screen and (min-width: 300px) and (max-width: 599px)
        font-size 28px
        line-height 28px
    
    
h4
    font-size 28px
    line-height 34px
    font-family fonttxt2
    @media screen and (min-width: 300px) and (max-width: 599px)
        font-size 22px
        line-height 24px
    
 
article   
    
    
    h2,
    h3,
    h4,
    h5
        display: inherit
        font-family: fontb
        margin: 10px 0
        color: #3e3e3e
        width: 100%
        text-transform: uppercas 
        margin-top 20px
        margin-bottom 5px
        padding 0 10px
        
    h2
        font-size 18px
        line-height 18px
            
    h3
        font-size 16px
        line-height 16px
                  
    h4
        font-size 16px
        line-height 16px
        text-transform none
                        
    h5
        font-size 15px
        line-height 16px
        text-transform none
        font-family fonttxt
        
    p,
    ul
        margin 0px
        padding 15px 10px
        color coltxt
        font-size BASE_SIZE
        font-family fonttxt
        
        img
            width 100%
            height auto
        
        
    b
        font-family fontb
        font-style normal
    
    .article-social-description
        font-size BASE_SIZE + 1
        font-family fontb
        padding-bottom 25px
        
    .ssk-share-title
        display block
        padding 30px 10px 10px
        font-size 22px
        font-family fontb
        
    .ssk-group
        padding 10px
        
        
        
    
    li
        display block
        padding 5px 10px
        padding-left 15px
        position relative
        &:before
            content '';
            position absolute
            display block
            top 15px
            left 0px
            width 5px
            height 5px
            border-radius 50%
            background coltxt
    
    
    
    