// Common styles of the project

html, body
    height 100%
    margin 0
    padding 0
    background colbg


* {margin:0px; padding:0px; box-sizing: border-box}   
    
    
body
    font-size BASE_SIZE
    color FONT_COLOR
    line-height LINE_HEIGHT


@keyframes fadeBody {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
    
    
    
    
    
.page
    opacity 0
    m-speed(.8s)

    
.fadein
   animation: fadeBody 2s linear 1 forwards;

section,
header,
nav
    clearfix()
    
a
    cursor pointer
    font-size inherit
    text-decoration none
    
a:visited
    color coltxt
    
.ssk-group
    a:visited
        color #fff
    
ul
    list-style-type none
    margin 0
    padding 0
    

.all-container
    background colbg
    //min-height 1100px
    margin-bottom 100px  
.content
    position relative
    margin 0 auto
    display flex
    width WRAPPER_WIDTH
    flex-basis 1280px
    min-width 300px
    height inherit
    justify-content space-between
    flex-wrap wrap
    
    @media screen and (max-width: 1440px) 
        width 100%
        padding 0 20px

    
    @media screen and (min-width: 300px)  and (max-width: 599px)
        display block
        width 100%
        padding 0 10px


.page__wrapper
    margin-top 90px
    position relative
    background colbg
    @media screen and (min-width: 300px)  and (max-width: 599px) 
        margin-top 50px

.page__buffer
    height 50px
    
.paginator
    display block
    padding-top 25px
    margin-left 10px
    
    .content
        display block
.paginator__item
    display inline-block
    margin-right 5px
        
    &:last-child
        a
            color colfirm
            
    

      
    
    a,
    span
        color coltxt
        font-family fontb
        font-size 16px
        text-transform uppercase
        m-speed(.2s)
        @media screen and (max-width: 1440px) 
            font-size 14px
    a:hover
            color colfirm
            
      
    
            


    
h1,
h2,
h3,
h4
    font-weight 400
    
    
    
    
h2,
h3
    display block
    font-size 46px
    font-weight 400
    line-height 46px
    @media screen and (min-width: 300px) and (max-width: 599px)
        font-size 18px
        line-height 24px
    
    
h4
    font-size 28px
    line-height 34px
    font-family fonttxt2
    @media screen and (min-width: 300px) and (max-width: 599px)
        font-size 16px
        line-height 18px
    
 
article 
    

    
    h1,
    h2,
    h3,
    h4,
    h5
        display: inherit
        font-family: fontb
        margin: 10px 0
        color: #3e3e3e
        width: 100%
        text-transform: uppercase 
        margin-top 20px
        margin-bottom 5px
        padding 0 10px
        
    h2
        font-size 20px
        line-height 28px
            
    h3
        font-size 16px
        line-height 22px
                  
    h4
        font-size 16px
        line-height 22px
        text-transform none
                        
    h5
        font-size 15px
        line-height 20px
        text-transform none
        font-family fonttxt
        
    p,
    ul
        margin 0px
        padding 15px 10px
        color coltxt
        font-size BASE_SIZE
        font-family fonttxt
        
        @media screen and (min-width: 300px) and (max-width: 599px)
            font-size 15px
        
        
        
        a
            color colfirm
            &:visited
                color colfirm
        img
            width 100%
            height auto
            
    blockquote
        background colbg + 30%
        padding 25px
        border solid 1px #e6eaea
        border-radius 5px
        font-style italic
    
    .twentytwenty-wrapper
        margin 25px auto
        
        
    b
        font-family fontb
        font-style normal
    
    .article-social-description
        font-size BASE_SIZE + 1
        font-family fontb
        padding-bottom 25px
        
        @media screen and (min-width: 300px) and (max-width: 588px)
            font-size 15px
 
        
    
    li
        display block
        padding 5px 10px
        padding-left 15px
        position relative
        &:before
            content '';
            position absolute
            display block
            top 15px
            left 0px
            width 5px
            height 5px
            border-radius 50%
            background coltxt
    
            
        
.ssk-share-title
    display block
    padding 30px 10px 10px
    font-size 22px
    font-family fontb
        
.ssk-group
    padding 10px
        
                   
            
    
.form
    display flex
    flex-wrap wrap
    margin-top 35px
    padding 10px
    justify-content space-between
    &--no-m
        margin 0px
        
    @media screen and (max-width: 760px)
        display block
        padding 0
    
    
    .button-block
        margin-top 0px
        
        @media screen and (max-width: 760px)
            display block
            text-align center
            
    
            
        
        
    .error-block
        display flex
        max-width 80%
        flex-basis 80%
        flex-wrap wrap
        flex-direction column   
        margin-bottom 20px
        background #f9f9f9
        border solid 1px #e6eaea
        border-radius 5px
        padding 10px
        
        li
            &:before
                display none
        
        &_item
            color colfirm
            text-align left
            font-size 12px
            line-height 12px
            font-family fontb
            padding 5px 0
            
            &--ok
                color green
            
    
    
    .input-block
        display flex
        max-width 100%
        flex-basis 47%
        flex-wrap wrap
        flex-direction column
        margin-bottom 20px
        position relative
        
        @media screen and (max-width: 760px)
            flex-basis 100%
            
    
                    
        .doc
            padding 0px
            position relative
            top 42px
            .button
                position relative
                
    .input-block--last
        margin-top 30px
            
            

    .check-box
        width 32px
        height 32px
        background #fff
        border solid 2px colfirm
        position absolute
        left 0px
        top 18px
        cursor pointer
        
        &:before
            content '';
            position absolute
            display none
            width 24px
            height 2px
            background colfirm
            left 2px
            top 13px
            transform rotate(132deg)
            
        &:after
            content '';
            position absolute
            display none
            width 24px
            height 2px
            background colfirm
            left 2px
            top 13px
            transform rotate(227deg)
            
            
    .active
        &:before
            display block
        &:after
            display block
        
            
             
    .check-box-label
        padding-left 50px
        font-size 12px
        padding-top 15px
        line-height 18px
        a
            color colfirm

    input,
    label
        display inherit
        padding 10px 20px
        
        
    input,
    textarea
        border solid 1px #E6EAEA
        font-size 17px
        flex 0 0 auto
        width 100%
        outline none
        resize none
        padding 10px 20px
        
    textarea
        height 150px
        
        
    label
        padding-bottom 15px
        font-size 15px
        padding-left 1px
        position relative
        display inline-flex
        flex 0 0 auto
        width auto
        
        
    .obligatorily
        display inline-block
        position relative
        
        &:before
            content '*';
            position absolute
            display block
            top -13px
            right -16px
            color colfirm
            font-size 28px

    .form__submit
        display flex
        max-width 100%
        flex-basis 100%
        flex-direction row
        flex-wrap wrap

        
        label
            flex-basis 100%
            
        input
            width 100px
            margin-right 15px
            letter-spacing 7px
        
        &__capcha
            display flex
            flex-basis  170px
            flex-wrap nowrap
            flex-direction row
            margin-right 15px
            max-height: 80px;
            @media screen and (max-width: 400px)
                margin-left -10px
                
            
            &_item
                display inline-block
                width 25%
                height auto
                
                img
                    width 100%
                    height auto
                    display block
                    position relative

            
            
.form_file
    width 0px
    height 0px
    position absolute
    top 0px
    left 0px
    opacity 0
        
        
        
.error-block
    display flex
    max-width 80%
    flex-basis 80%
    flex-wrap wrap
    flex-direction column   
    margin-bottom 20px
    background #f9f9f9
    border solid 1px #e6eaea
    border-radius 5px
    padding 10px
        
    &_item
        color colfirm
        text-align left
        font-size 12px
        line-height 12px
        font-family fontb
        padding 5px 0
            
        &--ok
            color green
            
    
.twentytwenty-horizontal
    width 422px
    display block
    margin 0 auto
    @media screen and (max-width: 400px)
        width 100%
     