// File for less-vars.
// For example: main colors, paddings and so on.

// BASE
TITLE_CLASS = 'title'

// Paths
IMG_SRC-G = '../img/general'
IMG_SRC-S = '../img/svg-sprite'

// LAYOUT
WRAPPER_PADDING = 20px
WRAPPER_WIDTH = 1280px

WRAPPER_MIN_WIDTH = WRAPPER_WIDTH[1]
WRAPPER_MAX_WIDTH = WRAPPER_WIDTH[0]

// TEXT
BASE_SIZE = 19px
FONT_SIZE = BASE_SIZE
LINE_HEIGHT = 1.5
FONT_COLOR = #3e3e3e
FONT_COLOR_DESC = #e6eaea


MAIN_COLOR = #e4032e
MAIN_COLOR2 = #a9160c

LINK_COLOR = FONT_COLOR
LINK_COLOR_HOVER = MAIN_COLOR + 20%

NEWS_T_COLOR = FONT_COLOR
NEWS_T_COLOR_H = MAIN_COLOR

LINK_COLOR_INVERT = #000
LINK_COLOR_INVERT_HOVER = LINK_COLOR

TEXT_LINK_COLOR = LINK_COLOR
TEXT_LINK_COLOR_HOVER = TEXT_LINK_COLOR + 20%

SELECT_COLOR = MAIN_COLOR

ERROR_COLOR = #e66a6a
ERROR_BORDER_COLOR = #f4bebe



// OTHER
TRANS_SPEED = 0.2s

// x  > 1200px // WIDE_DESKTOP
// x <= 1200px // DESKTOP
// x <= 1000px // TABLET
// x <= 760px  // SMALL_TABLET
// x <= 650px  // WIDE_PHONE
// x <= 530px  // PHONE
// x <= 400px  // SMALL_PHONE

SCREENS = ( ("WIDE_DESKTOP" 1201px) ("DESKTOP" 1200px) ("TABLET" 1000px) ("SMALL_TABLET" 760px) ("WIDE_PHONE" 650px) ("PHONE" 530px) ("SMALL_PHONE" 400px) )
WRAPPER_WIDTHS = {
	"WIDE_DESKTOP": 1150px,
	"DESKTOP": 950px,
	"TABLET": 721px,
	"SMALL_TABLET": 570px,
	"WIDE_PHONE": 490px,
	"PHONE": 370px,
	"SMALL_PHONE": 300px
}








// основной цвет
colfirm = MAIN_COLOR
    


// цвет фона
colbg = #f4f7f6
    

// цвет фона (альтернативный)
colbg2 = #f9f9f9
    

// основной цвет текста
coltxt = FONT_COLOR
    

// альтернативный цвет текста (description)
coltxt2 = #333232
    

// альтернативный цвет текста (description и прочее)
coltxt3 = #bebebe
  
    
// Цвет границ
colB = #dbdbdb
   
    
// Фон footer
colF = #bebebe
   
    
// Фон header
colH = #132342
 

// Шрифт (основной)
fonttxt = 'GothamProRegular', sans-serif;
fontb = 'GothamProMedium', sans-serif;
fontblack = 'GothamProBlack', sans-serif;
 

// Шрифт (Medium)
fontSize = 19px