include /category/category
mixin commentscontent(data)


    .news-block
    

        if data.useCategory
            +category(category.comments)


    
        .departments
    
    
            
            .departments__item
                .departments__item_image
                    img.box-shadow-one(src="static/img/general/comments3.jpg" alt="ЮНИЛАЙН Смоленск")
                .departments__item__content
                    .departments__item__country
                        span.departments__item__country_title Отзывы на сайте otzyvy.pro
                        .news-block__anons-article_title.news-block__anons-article_title--dep-no-l Непоседа - хороший журнал. Хочу с вами поделиться...
                        .footer_description Очень милый и добрый отзыв о журнале "НЕПОСЕДА" 
                        
                        .button-block.align-left
                            a.button(href="http://otzyvy.pro/reviews/otzyvy-1000-sovetov-41343.html" target="_blank")
                                span подробнее
    
    
            .departments__item
                .departments__item_image
                    img.box-shadow-one(src="static/img/general/comments.jpg" alt="ЮНИЛАЙН Смоленск")
                .departments__item__content
                    .departments__item__country
                        span.departments__item__country_title Отзывы на сайте irecommend.ru
                        .news-block__anons-article_title.news-block__anons-article_title--dep-no-l 1000 советов
                        .footer_description Мы всегда обращаем внимание на мнение нашего читателя, оставляйте отзывы 
                        
                        .button-block.align-left
                            a.button(href="http://irecommend.ru/content/1000-sovetov-zhurnal-1000-sovetov" target="_blank")
                                span подробнее
        
            .departments__item
                .departments__item_image
                    img.box-shadow-one(src="static/img/general/comments2.jpg" alt="ЮНИЛАЙН Смоленск")
                .departments__item__content
                    .departments__item__country
                        span.departments__item__country_title Отзывы на сайте otzyvy.pro
                        .news-block__anons-article_title.news-block__anons-article_title--dep-no-l 1000 советов
                        .footer_description Мы всегда обращаем внимание на мнение нашего читателя, оставляйте отзывы 
                        
                        .button-block.align-left
                            a.button(href="http://otzyvy.pro/reviews/otzyvy-1000-sovetov-41343.html" target="_blank")
                                span подробнее
