.banner
    display block
    margin 40px 0
    &:first-child
        margin 0
    
    .button-block
        text-align center
    
    img
        display block
        width 100%
        height auto
        padding 0 30px
        
        
    &_title
        font-size 22px
        line-height 26px
        font-family fontb
        text-align center
        margin 0px 0 20px
        @media screen and (max-width: 1440px) 
            font-size 18px
        
    
        
        
        
        
