
.banner-box 
    m-speed(0s);

.banner
    display block
    m-speed(0s);
    margin-bottom 40px
    
    .button-block
        text-align center
    
    img
        display block
        width 100%
        height auto
        padding 0 30px
        @media screen and (min-width: 650px) and (max-width: 1000px)
            padding 0 100px
        
        
    &_title
        font-size 22px
        line-height 26px
        font-family fontb
        text-align center
        margin 0px 0 20px
        @media screen and (max-width: 1440px) 
            font-size 18px
        
    
        
        
        
        
