mixin shop_catalog(data)

    section.shopcontainer.shopcontainer--min
    

        .shop_catalog
        
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/1.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons
                
                
                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/2.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons
                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/3.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons
 
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/4.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                .button-block
                    .button(href="#")
                        span Подробнее 
                            i.icon-arrow-right-circle.icons

            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/5.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/6.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/7.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                        
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/8.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/9.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/10.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/11.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                                        
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/12.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
        