mixin shop_catalog(data)

    section.shopcontainer
    
    
        .promo
            .promo__slider

                .center-slider#center
                    .promo__shop-slider
                        a.sl
                            img(src="static/img/general/slide3.jpg")
                            .center-slider__info 
                                h6.center-slider__info_title Благотворительная акция «Дерево добра»
                        a.sl
                            img(src="static/img/general/slide2.jpg")
                            .center-slider__info 
                                h6.center-slider__info_title Благотворительная акция «Дерево добра»
                        a.sl
                            img(src="static/img/general/slide1.jpg")
                            .center-slider__info 
                                h6.center-slider__info_title Благотворительная акция «Дерево добра»
            .promo__bar
                a.promo__bar-block(href="#" style="background:url(static/img/general/pazl.jpg)")
                    .promo__bar-block-hover
                    h6.center-slider__info Сувенирная <br> продукция
                    .promo__bar-block-reed-more Перейти к каталогу <i class="icon-arrow-right-circle icons"></i>
                    
                a.promo__bar-block(href="#" style="background:url(static/img/general/pazl.jpg)")
                    .promo__bar-block-hover
                    h6.center-slider__info Прошлые <br> номера
                    .promo__bar-block-reed-more Перейти к каталогу <i class="icon-arrow-right-circle icons"></i>

    
        .shop_catalog
        
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/1.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/2.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/3.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/4.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/5.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/6.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/7.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                        
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/8.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/9.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/10.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                                
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/11.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
                                        
            a.shop_catalog__item(href="#")
                img.shop_catalog__image(alt="jornals" src="static/img/general/jornals/12.jpg")
                span.shop_catalog__tag Два раза в месяц
                h2.shop_catalog__title 1000 советов
                span.shop_catalog__price 26 руб
        