mixin magazinemenu(data)

    ul.magazinemenu
    
        li.magazinemenu__item.magazinemenu__item--active
            a.magazinemenu__item_link(href="magazine.html") Об издании     
                            
        li.magazinemenu__item
            a.magazinemenu__item_link(href="magazine.html") События
                                           
        li.magazinemenu__item
            a.magazinemenu__item_link(href="magazine.html") Конкурсы
                
        li.magazinemenu__item
            a.magazinemenu__item_link(href="magazine.html") Выпускающий редактор
            
        li.magazinemenu__item
            a.magazinemenu__item_link(href="magazine.html") Технические характеристики
                             
        li.magazinemenu__item
            a.magazinemenu__item_link(href="magazine.html") Скачать медиакит
                                                    
        li.magazinemenu__item
            a.magazinemenu__item_link(href="magazine.html") Подписаться 
                                                                
        li.magazinemenu__item
            a.magazinemenu__item_link(href="magazine.html") Прошлые номера

            


