mixin category(data)

    if data.categoryNews 
        .category-news
            .category-news__active-category 
                .category-news__active-category_title Категория: <h1 class="active">Все новости</h1>
            
            
            ul.category-news__grid
        
                li.category-news__item
                    a Новости
                
                li.category-news__item
                    a События
                 
                li.category-news__item
                    a Конкурсы
                         
                li.category-news__item
                    a Все новости
        

    if data.categoryIsdatelstvo
        .category-news
            .category-news__active-category 
                .category-news__active-category_title Издательство: <h1 class="active">История</h1>
            
            
            ul.category-news__grid
        
                li.category-news__item
                    a(href="#") История
                
                li.category-news__item
                    a(href="#") Представительства

                li.category-news__item
                    a(href="#") Отзывы о нас
                 
                li.category-news__item
                    a(href="#") Инф. материалы
                 
                li.category-news__item
                    a(href="#") Вакансии
                 


    if data.categoryJobs
        .category-news
            .category-news__active-category 
                .category-news__active-category_title Издательство: <span class="active">Вакансии</span>
            
            
            ul.category-news__grid
        
                li.category-news__item
                    a(href="#") История
                
                li.category-news__item
                    a(href="#") Представительства

                li.category-news__item
                    a(href="#") Отзывы о нас
                 
                li.category-news__item
                    a(href="#") Инф. материалы
                 
                li.category-news__item
                    a(href="#") Вакансии
              
              
    if data.categoryDepartments
        .category-news
            .category-news__active-category 
                .category-news__active-category_title Издательство: <h1 class="active">Представительства</h1>
            
            
            ul.category-news__grid
        
                li.category-news__item
                    a(href="#") История
                
                li.category-news__item
                    a(href="#") Представительства

                li.category-news__item
                    a(href="#") Отзывы о нас
                 
                li.category-news__item
                    a(href="#") Инф. материалы
                 
                li.category-news__item
                    a(href="#") Вакансии
              
              
    if data.categoryСomments
        .category-news
            .category-news__active-category 
                .category-news__active-category_title Издательство: <h1 class="active">Отзывы о нас</h1>
            
            
            ul.category-news__grid
        
                li.category-news__item
                    a(href="#") История
                
                li.category-news__item
                    a(href="#") Представительства

                li.category-news__item
                    a(href="#") Отзывы о нас
                 
                li.category-news__item
                    a(href="#") Инф. материалы
                 
                li.category-news__item
                    a(href="#") Вакансии
              
