mixin addresses(data)


    .news-block.cabinet

        .form.shop-addres#shop-addres
            .shop-addres__title Смоленск


            .input-block.input-block--big
                input(value="Смоленск" disabled)

            .input-block.input-block--big
                input(value="Смоленск, Смоленская обл." disabled)

            .input-block.input-block--big
                input(value="214000" disabled)

            .input-block.input-block--big
                input(value="Октябрьской революции д. 12, корус 2, кв. 34" disabled)
                
            .input-block#form-check-sec.shop-addres__check
                .check-box.active#check-box-sec
                .check-box-label Основной адрес
                input.form_file#form-input-sec(type="checkbox" disabled)
         
            .button-block
                a.button(href="#")
                    span Редактировать
                        i.icon-arrow-right-circle.icons

                a.button(href="#")
                    span Удалить
                        i.icon-close.icons


        .form.shop-addres#shop-addres
            .shop-addres__title Милан


            .input-block.input-block--big
                input(value="Смоленск" disabled)

            .input-block.input-block--big
                input(value="Смоленск, Смоленская обл." disabled)

            .input-block.input-block--big
                input(value="214000" disabled)

            .input-block.input-block--big
                input(value="Октябрьской революции д. 12, корус 2, кв. 34" disabled)

                
            .input-block#form-check-sec.shop-addres__check
                .check-box#check-box-sec
                .check-box-label Основной адрес
                input.form_file#form-input-sec(type="checkbox" disabled)
         
            .button-block
                a.button(href="#")
                    span Редактировать
                        i.icon-arrow-right-circle.icons

                a.button(href="#")
                    span Удалить
                        i.icon-close.icons



        .form.shop-addres#shop-addres
            .shop-addres__title Москва


            .input-block.input-block--big
                input(value="Смоленск" disabled)

            .input-block.input-block--big
                input(value="Смоленск, Смоленская обл." disabled)

            .input-block.input-block--big
                input(value="214000" disabled)

            .input-block.input-block--big
                input(value="Октябрьской революции д. 12, корус 2, кв. 34" disabled)
            
            .input-block#form-check-sec.shop-addres__check
                .check-box#check-box-sec
                .check-box-label Основной адрес
                input.form_file#form-input-sec(type="checkbox" disabled)
         
            .button-block
                a.button(href="#")
                    span Редактировать
                        i.icon-arrow-right-circle.icons

                a.button(href="#")
                    span Удалить
                        i.icon-close.icons

