mixin addadres(data)


    .news-block.cabinet


        .form.shop-addres#shop-addres
            .shop-addres__title Введите адрес доставки


            .input-block.input-block--big
                input(placeholder="Название адреса")

            .input-block.input-block--big
                input(placeholder="Город / населенный пункт")

            .input-block.input-block--big
                input(placeholder="Почтовый индекс")

            .input-block.input-block--big
                input(placeholder="Улица / дом / квартира")

            .button-block
                button.button
                    span Добавить
                        i.icon-arrow-right-circle.icons



    