mixin material(data)


    .news-block


        article.news-block__anons-article.news-block__anons-article-big
            .news-block__anons-article__content
                h1.news-block__anons-article_title Вывеска "Чудо поварешка"
                
                            
            p.article-social-description Вывеска \ рекламный материал 5 х 3, в формате .eps
            
            .news-block__anons-article__image-box
                img(src="static/img/general/materialdown.jpg")
                
            
            p.button-block
                a.button(href="#")
                    span Скачать файл .eps


            .ssk-share-title Поделиться:
            
            .ssk-group
                a(href="" class="ssk ssk-text ssk-vk ssk-sm") vk.com
                a(href="" class="ssk ssk-text ssk-facebook ssk-sm") Facebook.com
                a(href="" class="ssk ssk-text ssk-twitter ssk-sm")  Twitter.com
                a(href="" class="ssk ssk-text ssk-google-plus ssk-sm") Google.com


        