mixin magazines-grid(data)



    article.statickinfo
        .magazines-grid
    
            .magazines-grid__item
                img.magazines-grid_item_image(src="static/img/general/jornals.png")
    
            .magazines-grid__item
                img.magazines-grid_item_image(src="static/img/general/jornals.png")
    
            .magazines-grid__item
                img.magazines-grid_item_image(src="static/img/general/jornals.png")
    
            .magazines-grid__item
                img.magazines-grid_item_image(src="static/img/general/jornals.png")
    
            .magazines-grid__item
                img.magazines-grid_item_image(src="static/img/general/jornals.png")
    
            .magazines-grid__item
                img.magazines-grid_item_image(src="static/img/general/jornals.png")
