mixin magazines-grid(data)



    .statickinfo
    
        h1.news-block__anons-article_title Наши издания
        .magazines-grid
    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Для всей семьи
                h2.magazines-grid__title 1000 советов

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Детское издание
                h2.magazines-grid__title Непоседа

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Дачная тематика
                h2.magazines-grid__title 1000 советов дачнику

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Для всей семьи
                h2.magazines-grid__title 1000 советов

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Детское издание
                h2.magazines-grid__title Непоседа

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Дачная тематика
                h2.magazines-grid__title 1000 советов дачнику

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Для всей семьи
                h2.magazines-grid__title 1000 советов

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Детское издание
                h2.magazines-grid__title Непоседа

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Дачная тематика
                h2.magazines-grid__title 1000 советов дачнику

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Для всей семьи
                h2.magazines-grid__title 1000 советов

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Детское издание
                h2.magazines-grid__title Непоседа

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Дачная тематика
                h2.magazines-grid__title 1000 советов дачнику

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Для всей семьи
                h2.magazines-grid__title 1000 советов

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Детское издание
                h2.magazines-grid__title Непоседа

    
            a.magazines-grid__item(href="#" alt="")
                img.magazines-grid__image(src="static/img/general/jornals.png")
                span.magazines-grid__tag Дачная тематика
                h2.magazines-grid__title 1000 советов дачнику

