.magazines-grid
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    
    &__item
        display inherit
        max-width 100%
        flex-basis 25%
        flex-flow column
        margin-bottom 20px
        
        &_image
            display block
            width 100%
            height auto
        