pov(n)    
    -moz-transform rotate(n) /* Для Firefox */
    -ms-transform rotate(n) /* Для IE */
    -webkit-transform rotate(n) /* Для Safari, Chrome, iOS */
    -o-transform rotate(n) /* Для Opera */
    transform rotate(n)