mixin header(data)

    .header
        a.header__boxmenu(href="#")
            .header__burger
                span

        .header__container
            .header__social
            
                a.vkontakte-ico(href="#")
                          
                a.facebook-ico(href="#")
                          
                a.odnoklassniki-ico(href="#")
                
            form.header__serch-block
                input(placeholder="поиск по сайту")
                a.header__serch-block_go
            a.header__logo-block(href="#")
                img(src="static/img/general/logo.svg")
                
            .header__region
                b Ваш регион:
                a Смоленск
                
            
                
            .header__shop-and-login       
 
                a.header__in-shop
                    span магазин юнилайн
            
                a.header__login
                    span <b>войти / зарегистрироваться</b>
           
    
                

             