.header
    position fixed
    top 0px
    left 0px
    display flex
    width 100%
    height 90px
    background colbg
    border-bottom solid 1px #E6EAEA
    z-index 999999 
    
    
    &__boxmenu
        top 0px
        left 0px
        display inherit
        width 120px
        border-right: 1px solid #E6EAEA
        align-items center
        justify-content center
        height inherit

        
    &__burger

        width 26px
        height 22px
        position relative
        left -25px
        
        &:before
            content 'МЕНЮ'
            position absolute
            font-family fontb
            font-size 12px
            display block
            position absolute
            top 2px
            right -52px
            color coltxt
            m-speed(.2s)
        
        
        span
            
            position absolute
            display block
            top 0px
            height 4px
            width 26px
            background coltxt
            m-speed(.2s)
        
            &:before
                content ''
                position absolute
                display block
                width 18px
                height inherit
                background coltxt
                top 9px
                left 0px
                m-speed(.2s)
            
                
            &:after
                content ''
                position absolute
                display block
                width 26px
                height inherit
                background coltxt
                top 18px
                left 0px
                m-speed(.2s)
                
    &__boxmenu:hover
        .header__burger
            &:before
                color colfirm
        
        
            span
            
                position absolute
                display block
                top 0px
                height 4px
                width 26px
                background colfirm
        
                &:before
                    width 26px
                    background colfirm
            
                
                &:after
                    width 26px
                    background colfirm
       
                
    &__container
        display inherit
        justify-content space-between
        height inherit
        align-items center
        width auto
        v = 100%
  
        width: "calc(%s - 120px)" % v
                
    
    &__logo-block
        display block
        height 65px
        width auto
        img
            height 100%
            width auto
            
            
    &__shop-and-login
        display inherit
        flex-direction row-reverse
        height inherit
        
        
    &__in-shop
        width 220px
        background colfirm
        height inherit
        display inherit
        justify-content center
        align-items center
        
        span
            color #fff
            font-family fontb
            font-size 14px
            display inline-block
            text-transform uppercase
            
    &__login
        padding 0 35px
        height inherit
        display inherit
        justify-content center
        align-items center
        
        span
            display inline-block
            font-size 12px
            color coltxt
            text-transform uppercase
            b
                font-family fontb
                
                
                
    &__serch-block
        padding 0 35px
        padding-left 55px
        height inherit
        display inherit
        justify-content start
        align-items center
        position relative
        flex-basis 340px
        
        &_go
            content '';
            position absolute
            display block
            width 16px
            height 16px
            background  url(../img/general/search.svg)
            left 37px
            top 37px
        
        
        
        input
            font-family fontb
            font-size 12px
            background transparent
            text-transform uppercase
            outline none
            padding 10px
            border solid 0px
            box-shadow 0
            placeholder-color(coltxt)
            
            
    &__social
        padding 0 35px
        height inherit
        display inherit
        justify-content center
        align-items center
        position relative
        a
            margin 0 7px
            
            
        .vkontakte-ico
            bg-svg($vkontakte); 
            width 24px
            height 24px
                       
        .facebook-ico
            bg-svg($facebook); 
            width 24px
            height 24px
            
                                   
        .odnoklassniki-ico
            bg-svg($odnoklassniki); 
            width 24px
            height 24px
            
            
            
        
            
    &__region
        display inherit
        flex-direction reverse
        height inherit
        justify-content center
        align-items center
        flex-basis 225px
        max-width 225px
        
                
        &_active
            display inline-block
            font-size 12px
            color coltxt
            text-transform uppercase
            color colfirm
            margin-left 10px
            cursor pointer
            position relative
            white-space nowrap
        b
            font-size 12px
            font-family fontb
            color coltxt
            text-transform uppercase
            white-space nowrap
            
        
          
            
            
        &__sub
            display none
            position absolute
            top:60px
            padding-top 20px
            
            
        &__sub-body
            display flex
            padding 20px
            border-radius 4px
            border solid 1px #E6EAEA
            overflow hidden
            flex-wrap wrap
            background colbg
            max-width 450px
            flex-basis 450px
            position relative
            
            
        &__item
            max-width 33.33333%
            flex-basis 33.33333%
            padding 4px
            
            &_stadt
                font-size 12px
                color coltxt
                cursor pointer
                &:hover
                    color colfirm
                    
                    
        &_close
            position absolute
            display block
            top 10px
            right 10px
            width 16px
            height 16px
            border solid 1px transparent
            m-speed(.2s)
            &:hover
                background coltxt
                border solid 1px coltxt
                span
                    background colbg
                    &:before
                        background colbg
            
            span
                position absolute
                display block
                height 2px
                width 100%
                top 6px
                left 0px
                pov(45deg)
                background colfirm
                m-speed(.2s)
                border-radius 2px
                
                &:before
                    content ''
                    position absolute
                    display block
                    top 0px
                    left 0px
                    pov(92deg)
                    background colfirm
                    width 100%
                    height 100%
                    m-speed(.2s)
                    border-radius 2px
                
            
        
            

            
    &__loginin-block
        display none
        position absolute
        top:60px
        margin-left -230px
        padding-top 20px
        
        a.button
            &:first-child
                margin-right 20px
        
        
            
        &__body
            display flex
            padding 20px
            padding-top 30px
            border-radius 4px
            border solid 1px #E6EAEA
            overflow hidden
            flex-wrap wrap
            background colbg
            max-width 350px
            flex-basis 350px
            position relative
            
        &_input-txt
            margin 5px 0
            padding 8px 12px
            font-size 12px
            max-width 100%
            flex-basis 100%
            outline none
            
                    
               
        
        
        
            
        
        