mixin header(data)

    .header
        a.header__boxmenu#openmenu_button
            .header__burger
                span

        .header__container
            .header__social
            
                a.vkontakte-ico(href="#")
                          
                a.facebook-ico(href="#")
                          
                a.odnoklassniki-ico(href="#")
                
            form.header__serch-block
                input(placeholder="поиск по сайту")
                a.header__serch-block_go
            a.header__logo-block(href="#")
                img(src="static/img/general/logo.svg")
                
            .header__region
                b Ваш регион:
                .header__region_active#header_region_popup Смоленск
                .header__region__sub#header_region_sub
                    
                    ul.header__region__sub-body

                        li.header__region__item
                            a.header__region__item_stadt Москва
       
                        li.header__region__item
                            a.header__region__item_stadt Смоленск
       
                        li.header__region__item
                            a.header__region__item_stadt Калининград
       
                        li.header__region__item
                            a.header__region__item_stadt Санкт-Петербург
       
                        li.header__region__item
                            a.header__region__item_stadt Воронеж
       
                        li.header__region__item
                            a.header__region__item_stadt Минск
       
                        li.header__region__item
                            a.header__region__item_stadt Курск
                
                        li.header__region__item
                            a.header__region__item_stadt Соликамск
       
                        li.header__region__item
                            a.header__region__item_stadt Удмурия
       
                        li.header__region__item
                            a.header__region__item_stadt Калининград
       
                        li.header__region__item
                            a.header__region__item_stadt Санкт-Петербург
       
                        li.header__region__item
                            a.header__region__item_stadt Северная осетия
       
                        li.header__region__item
                            a.header__region__item_stadt н-й Ноовгород
       
                        li.header__region__item
                            a.header__region__item_stadt Ростов на дону
                
                        li.header__region__item
                            a.header__region__item_stadt Гусь Хрустальный
                                
                        li.button-block
                            a.button
                                span Перейти к поиску своего региона
                                    
                        li.header__region_close#header_region_close
                            span
                
            
                
            .header__shop-and-login       
 
                a.header__in-shop
                    span магазин юнилайн
            
                a.header__login#header_login_popup
                    span <b>войти / зарегистрироваться</b>
                    
                .header__loginin-block#header_login_sub
                    form.header__loginin-block__body
                        input.header__loginin-block_input-txt(type="text" placeholder="Логин")
                        input.header__loginin-block_input-txt(type="password" placeholder="Пароль")
                        
                        .button-block
                        
                            a.button
                                span Войти
           
                            
                            a.button
                                span Регистрация
                                
                        a.header__region_close#header_login_close
                                    span
           
    
                

             