mixin reklamodatelu_tematika(data)


    .statickinfo.reklamodatelu
    
    
    
        article.magazine-content
                                                            
            h1.news-block__anons-article_title Дачная тематика
            
            p Дачную тематику представляют два издания: 
            
            h2 Газета «1000 советов дачнику»
            ul.magazine-content__signs
                li.magazine-content__signs_item <b>Лидер подписки по данным АРПП</b> 
                li.magazine-content__signs_item <b>Выходит 2 раза в месяц</b>
                li.magazine-content__signs_item <b>Тираж</b> 350 000
                li.magazine-content__signs_item <b>Подписка</b> 350 000
                li.magazine-content__signs_item <b>Розница</b> 350 000
                
            h2 Газета «Лунный календарь. Спецвыпуск «1000 советов дачнику»
            ul.magazine-content__signs
                li.magazine-content__signs_item Издания является узкопрофильными, непосредственно направленным на увеличение КПД земельного участка и упрощение быта для владельцев дач и частных домов.
                li.magazine-content__signs_item <b>Выходит 1 раза в полугодие.</b>
                li.magazine-content__signs_item <b>Тираж</b> 350 000
                
        