.statickinfo
    display flex
    flex-direction column
    flex-basis 60%
    max-width 68%
    padding 20px 0
    @media screen and (min-width: 300px) and (max-width: 1023px)
        display block
        width 100%
        max-width 100%
    
    &__article
        margin-top 35px
        
        
        
    &__photo
        padding 45px 35px 20px
        margin-bottom 35px
        &:first-child
            padding 25px 35px 20px
            
        @media screen and (max-width: 600px)
            padding 45px 15px 20px
            &:first-child
                padding 25px 15px 20px
                       
            
        
        img
            display block
            max-width 100%
            height auto
        
    &_title
        margin-top 20px
        font-size 22px
        line-height 26px
        font-family fontb
        
.aside-static-info
    width 32%