.statickinfo
    display flex
    flex-direction column
    flex-basis 60%
    max-width 65%
    padding 20px 0
    
    &__article
        margin-top 35px
        
        
        
    &__photo
        padding 45px 35px 20px
        &:first-child
            padding 25px 35px 20px
            
        
        img
            display block
            max-width 100%
            height auto
        
    &_title
        margin-top 20px
        font-size 22px
        line-height 26px
        font-family fontb