include /category/category
mixin statickinfo(data)

    .statickinfo
    
        if data.useCategory
            +category(category.isdatelstvo)
            
            
        article.statickinfo__article
        
            p.article-social-description Издательский дом был основан предпринимателем Конде Настом в 1909 году в США. Первым его приобретением стал журнал Vogue – тогда это было издание о новостях моды и высшего света, изящно перемежаемых виршами и картинками. Светский лоск Конде Наста, унаследованный от матери-француженки, позволил ему лучше узнать целевую аудиторию своего нового журнала и ее специфические требования, что и обеспечило оглушительный успех Vogue в Америке.
        
            p За Vogue последовали журналы House & Garden и Vanity Fair. В 1916 году Конде Наст предпринял неслыханный по тем временам шаг – сделал журнал международным, начав издавать в Лондоне британский Vogue. Это было вызвано в первую очередь тем, что во время Первой мировой войны пароходное сообщение через Атлантику было нарушено, а следовательно, и прекратилась доставка журнала Vogue в Европу. С момента выхода в Великобритании Vogue постепенно завоевывает все новые и новые территории, имея в виду культурное наследие каждой страны и сохраняя при этом свой безошибочно узнаваемый стиль. Даже в эпоху Великой депрессии журналы Конде Наста продолжали выходить, радуя читателей передовыми для своего времени шрифтами и графикой. Уже в 1932 году обложку Vоgue украсила цветная фотография – для того времени это был революционный ход. С тех пор Конде Наст и модная, шире – глянцевая фотография – слова-синонимы: по выпускам Vogue студенты художественных вузов изучают ее историю.
        
            p Вскоре после смерти Наста в 1959 году издательский дом, выпускавший тогда девять журналов, перешел под контроль другого магната, Сэмюэля Ирвина Ньюхауса. Ньюхаус превратил Condé Nast в одну из самых влиятельных и наиболее успешных медиакомпаний мира. Благодаря его продуманной и напористой бизнес-политике портфель журналов Condé Nast пополнился такими прославленными именами, как GQ, Condé Nast Traveller, Details, Allure, Architectural Digest, Wired. В 1983 году, после 46-летнего перерыва, было возобновлено издание журнала Vanity Fair, который возглавила 30-летняя англичанка Тина Браун. Не менее дальновидным решением Ньюхауса было назначение на пост главного редактора американского Vogue еще одной англичанки – Анны Винтур, а также осуществленное в 1999 году приобретение влиятельного еженедельника нью-йоркских интеллектуалов – The New Yorker.
            
                        
            p 
                img(src="static/img/general/ava5.jpg")
        
        
            p Правой рукой Сэмюэля многие годы был выходец из России, человек европейской культуры, влиятельнейший в нью-йоркских артистических кругах Алекс Либерман. В Condé Nast он отвечал за подбор талантливой молодежи и следил за тем, чтобы редакционная работа соответствовала самым высоким стандартам. Либерману принадлежат слова: «Глянцевый журнал – это не только бизнес, но и просвещение общественных вкусов». История того, как Ньюхаус и Либерман сделали из Condé Nast культовый издательский дом, стала сюжетом нескольких увлекательных книг. Самая известная из них – вышедшая в 1998 году Сitizen Newhouse Кэрол Фельзенталь.
        
            p В 1999 году Condé Nast переехал в собственный небоскреб в самом сердце Нью-Йорка – на Таймс-сквер. Через 15 лет, в 2014 году, 3,5 тысячи сотрудников компании въехали в новый самый большой в Северной Америке небоскреб – 1 World Trade Center, где заняли 24 этажа. В 2006 году Голливуд отдал дань статусу издательского дома, сняв фильм «Дьявол носит Prada»: ни для кого не секрет, что прототипом главной героини стала главный редактор американского Voguе Анна Винтур. А в 2009-м на экраны вышел полнометражный документальный фильм «Сентябрьский номер», посвященный работе редакции американского Voguе над самым толстым номером в его истории. Девиз фильма гласит: «Если мода – это религия, то Vogue – это библия». Сегодня Condé Nast International управляет сын Сэмюэля Ирвина Ньюхауса Сэмюэль Ирвин Ньюхаус-младший, известный под именем Si Newhouse. Его кузен Джонатан Ньюхаус возглавляет Condé Nast International.
            
            p 
                img(src="static/img/general/ava4.jpg")
        
            p Condé Nast одним из первых отреагировал на начало цифровой эры в журналистике и глянце, и уже в 1995 году запустил свои первые сайты – www.vogue.co.uk в Великобритании и www.epicurious.com в США. Интернет-подразделение Condé Nast создает удобные и полезные сайты, посвященные всем областям современной жизни: моде, путешествиям, еде, красоте и дизайну. Сегодня Condé Nast, подразделение Advance Publications, помимо США работает еще в 29 странах мира и издает 143 журнала и более 130 сайтов, среди которых Vogue, Glamour, GQ, Vanity Fair, Allure, Wired и другие.
            
            
        
        