include ../magazines-grid/magazines-grid

include /category/category
mixin statickinfo(data)

    .statickinfo
    
        if data.useCategory
            +category(category.isdatelstvo)
            
            
        article.statickinfo__article
        
            p.article-social-description Издательство “ЮНИЛАЙН” основано в 2001 году Юрием Васильевичем Чепиковым и связано с выходом в свет первого номера газеты “1000 советов”. 
        
            p Именно с этого события началась история издательской деятельности компании “ЮНИЛАЙН”. 1 апреля 2001 года на 8 полосах в формате А3 вышел первый номер газеты, на страницах которой люди делятся друг с другом своим драгоценным опытом. Газета несколько раз меняла свой облик и дизайн, чтобы предстать в том виде, в котором существует сейчас: цветное издание формата А4. Однако со временем не изменилась основная концепция газеты “1000 советов”, которая всегда стремилась быть доступной и полезной для своих читателей. 
        
            blockquote "У нас изначально была задача создать качественный продукт для людей. Газета с первых дней работает в одном ключе — полный интерактив с нашей аудиторией. Вся концепция издания основана на вопросах, ответах и письмах наших любимых читателей.”, —  заявляет учредитель газеты Юрий Васильевич Чепиков."
            
                        

            .twentytwenty-container
                img(src="static/img/general/1_1.jpg")
                img(src="static/img/general/1_2.jpg")
      
        
            p Еще одним важным событием для Издательства “ЮНИЛАЙН” стало сотрудничество с белорусскими партнерами в лице Олега Семеновича Кульбацкого и развитие линейки изданий для детей. Детские журналы и газеты Издательства “ЮНИЛАЙН” пользуются популярностью у детей и родителей по всей России (???). Главное достояние линейки детских изданий - газета  “НЕПОСЕДА”, которая на протяжении многих лет является лидером рынка по версии АРПП в тематической группе “Детские издания”. 
        
            p Вместе с развитием печатной продукции для детей, расширялась линейка изданий для всей семьи. По просьбам читателей компания “ЮНИЛАЙН” начала издавать газету “1000 советов дачнику”. Узкая направленность полезных советов привлекла сотни тысяч любителей приусадебных участков: кто-то делится своими знаниями на страницах газеты, а кто-то набирается опыта у “профессиональных”  дачников. 
            
            p В 2016 году появилось издание “1000 советов кулинару”, которое на 32-х полосах собирает лучшие рецепты от шеф-поваров, опытных хозяек, советы по здоровому питанию и увлекательные мастер-классы. 
            
            p Издательство “ЮНИЛАЙН” не стоит на месте и активно развивается не только на территории России, но и за рубежом. На сегодняшний день компания имеет три представительства в мире:
            
            ul
                li YUNILINE  EUROPE OÜ - Эстония, Тарту;
                li ООО ЮНИЛАЙН БЕЛ - Беларусь, Минск;
                li ТОО  ЮНИЛАЙН КАЗАХСТАН - Казахстан, Алма-Ата.
            
            
    +magazines-grid()

            


        
        