mixin popular-article-block (data)

    .popular-article-block
        .popular-article-block__title Популярные статьи
        ol.popular-article-block__body
        
            li.popular-article-block__body__anons
                a(href="") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news2.jpg" alt"")
                        
                
            li.popular-article-block__body__anons
                a(href="") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt"")
                        
                
            li.popular-article-block__body__anons
                a(href="") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt"")
                        
                
            li.popular-article-block__body__anons
                a(href="") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt"")
                        
                
            li.popular-article-block__body__anons
                a(href="") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt"")
                                   
        


    .popular-article-block.sticky-block
        .popular-article-block__title Популярные статьи
        ol.popular-article-block__body
        
            li.popular-article-block__body__anons
                a(href="") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news2.jpg" alt"")
                        
                
            li.popular-article-block__body__anons
                a(href="") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt"")
                        
                
            li.popular-article-block__body__anons
                a(href="") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt"")
                        
                
            li.popular-article-block__body__anons
                a(href="") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt"")
                        
                
            li.popular-article-block__body__anons
                a(href="") 
                    h6.popular-article-block__body__anons_titile-anons Вступление в Ассоциацию распространителей печатной продукции
                    .popular-article-block__body__anons_image-anons
                        img(src="static/img/general/news.jpg" alt"")
                                   
        

