mixin newsarticle(data)


    .news-block

        article.news-block__anons-article.news-block__anons-article-big
            .news-block__anons-article__content
                .news-block__anons-article_tag события
                h1.news-block__anons-article_title ИЗДАТЕЛЬСТВУ «ЮНИЛАЙН» ИСПОЛНИЛОСЬ 6 ЛЕТ!
                .news-block__anons-article_date Дата публикации: 06-12-2016
                
                            
            p.article-social-description Что такое «ЮНИЛАЙН»? Это люди, это сотрудники, это все мы... А день рождения фирмы — это очередная годовщина нашей совместной работы, нашего самоотверженного труда в одном направлении!
            
            .news-block__anons-article__image-box
                img(src="static/img/general/6let.jpg")

            p «ЮНИЛАЙН» – это не просто издательство. Это идейный центр, круг единомышленников. Это место завязывания новых идейных узлов, решений, планов. Это коллектив профессионалов, который постоянно совершенствуется и всегда готов к диалогу со своим читателем. Авторы издательства «ЮНИЛАЙН» наполняют журналы интересной информацией и яркими иллюстрациями. У читателей всегда есть возможность принять участие в конкурсах и розыгрышах фирменных призов.
            
            h2 Заголовок Н2
            
            p Эти 6 лет  мы работаем именно для вас, наши дорогие читатели. И с каждым годом мы становимся только сильнее, опытнее и увереннее. Мы всегда представляем интересы нашего читателя и общаемся напрямую.
            
            h3 Заголовок Н3
            
            p Именно в Смоленск привозят мешки писем от жителей всех уголков нашей огромной Родины: люди делятся опытом и просят совета, благодарят и подсказывают, какие темы нужно раскрыть в новых номерах. Дети присылают сюда рисунки и поделки, а также письма авторам полюбившихся сказок.
            
            h4 Заголовок Н4
            
            ul
                li эти 6 лет мы работаем именно для вас, наши дорогие читатели.
                li эти 6 лет мы работаем именно для вас, наши дорогие читатели.
                li эти 6 лет мы работаем именно для вас, наши дорогие читатели.
            
            p Такая тесная взаимосвязь коллектива издательства и читателей не случайна, она является заслугой коллектива. Вся деятельность компании основана на постоянном изучении потребностей и интересов людей, живущих в разных регионах России, поэтому «ЮНИЛАЙН» делает издания, которые являются отражением жизни всей страны и частью жизни обыкновенного человека.
            
            p Мы создаем себе имя по-настоящему достойными печатными изданиями, чем и завоевываем сердца миллионов людей.
            
            
            .ssk-share-title Поделиться:
            
            .ssk-group
                a(href="" class="ssk ssk-text ssk-vk ssk-sm") vk.com
                a(href="" class="ssk ssk-text ssk-facebook ssk-sm") Facebook.com
                a(href="" class="ssk ssk-text ssk-twitter ssk-sm")  Twitter.com
                a(href="" class="ssk ssk-text ssk-google-plus ssk-sm") Google.com


        