mixin magazinetechcontent (data)

    article.statickinfo
        .magazine-content
    
            ul.magazine-content__signs
                li.magazine-content__signs_item <b>Вид:</b> газета
                li.magazine-content__signs_item <b>Категория:</b> 16+
                li.magazine-content__signs_item <b>Формат:</b> А4
                li.magazine-content__signs_item <b>Периодичность:</b> 2 раза в месяц
                li.magazine-content__signs_item <b>Количество страниц:</b> 36-40
                li.magazine-content__signs_item <b>Вес,г:</b> 60
                li.magazine-content__signs_item <b>ISSN:</b> 1994-1714
                li.magazine-content__signs_item <b>Тестовый номер:</b> <a href="#">Скачать</a>
                li.magazine-content__signs_item <b>Логотип:</b> <a href="#">Скачать</a>
                li.magazine-content__signs_item <b>Типография печати:</b> <a target="_blank" href="http://www.helprint.fi/fi/etusivu/index.php">«Helprint OY» Финляндия</a> 
                li.magazine-content__signs_item <b>Обложка журнала:</b> <a href="#">Скачать</a>
                
                
            p Свидетельство о регистрации средства массовой информации. ПИ № ФС77-53870 от 26 апреля 2013 г. Выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор). <a href="#">Скачать</a>  
            
            p.magazine-content_note-desc На территории Республики Беларусь, Республики Казахстан, выходит местный вариант, под названием журнал «1000 советов», адаптированный под Республику Беларусь и Республику Казахстан.