.delivery
	max-width: 100%;
	margin-top: 0px;
	margin-bottom: 35px
	border solid 1px #e6eaea
	padding 20px
	
	&__value
		font-size 14px
		line-height 18px
		color coltxt
		font-family fontb
		
		span
			color colfirm
			font-size 16px
	
	
 label
	 font-family fontb
	 text-transform uppercase;

	 
      

