mixin delivery()

	.form.delivery
		.input-block.input-block--big
			label
					span  Выберите адрес доставки товаров: 
			select(class="js-example-basic-single")
					option(value="AL") Смоленск
					option(value="AR") Милан
					option(value="AR") Добавить новый адресс...
					
		.input-block.input-block--big
			label
					span  Выберите пособ доставки: 
			select(class="js-example-basic-single")
					option(value="AL") Вариант 1 - 100 рублей
					option(value="AR") Вариант 2 - 300 рублей