.cabinet
    margin-top 35px
    width 100%
    
    
    
    &__history
        margin-top 45px
        padding-left 10px
        
    &__history-grid
        transition .2s
        display flex
        border-bottom solid 1px #e6eaea
        color coltxt
        
        @media screen and (max-width: 1000px)
            flex-wrap wrap
            margin-bottom 25px
        
        &:hover
            border-bottom solid 1px colfirm
            
            
        b
            font-family fontb
            margin-right 1rem
            
        span
            color colfirm
            font-family fontb
    
            
            
    &__history-item
        font-size 15px
        padding 10px 0
        white-space nowrap
        
        @media screen and (min-width: 1000px)
          text-align center
        
        @media screen and (max-width: 1000px)
            font-size 12px
            padding 5px 0
            
            
        &:first-child
            font-family fontb
            @media screen and (min-width: 1000px)
              max-width 145px
              width 30%
            
            @media screen and (max-width: 1000px)
                font-size 14px
                width 100%

        &:nth-child(2),
        &:nth-child(3)
            @media screen and (min-width: 1000px)
              max-width 170px
              width 20%
                     
                
                
        &:not(:last-child)
            padding-right 1rem
            border-right solid 1px #e6eaea
            
            @media screen and (max-width: 1000px)
                border-right solid 0px
                        
        &:not(:first-child)
            padding-right 1rem
            padding-left 1rem
            border-right solid 1px #e6eaea
            
            @media screen and (max-width: 1000px)
                border-right solid 0px
        
                        
        &:last-child
          border-right 0
          

          @media screen and (min-width: 1000px)
            flex 1
            width 100%


          @media screen and (max-width: 1000px)
              font-size 14px
              width 100%

            
            
    
    
    .form
        &:first-child
            margin-top 0
            
            
    .shop-addres
        display block
        border 0
        
        
    
        