.cabinet
    margin-top 35px
    width 100%
    
    
    .form
        &:first-child
            margin-top 0
            
            
    .shop-addres
        display block
        border 0
        